/* Temel Alarm Sayfası Stili */
.alarm-network-container {
  margin-top: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94vw;
  height: calc(100vh - 60px);
}

.alarm-network-table {
  width: 100%;
  background-color: #0b1734;
  padding: 15px;
  border-radius: 8px;
  text-align: justify;
  color: white;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.alarm-network-table table {
  width: 100%;
  border-collapse: collapse;
}

.alarm-network-table th {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid white;
}

.alarm-network-table td {
  padding: 8px;
  font-size: 16px;
}

.alarm-network-error a {
  color: #ef742a;
  // font-weight: bold;
  text-decoration: none;
}

.alarm-network-error a:hover {
  text-decoration: none;
}
.alarm-network-mac {
  color: #ef742a;
}
