<div class="header">
  <div class="header-left">
    <button class="header-button" onclick="goBack()">
      {{ _('Back') }}
      <img
        src="{{ url_for('static', filename='images/svg/20.svg') }}"
        alt="Logout"
        width="20"
        height="20"
        style="padding: 7px 7px; background: #0b1734; border-radius: 5px"
      />
    </button>

    <!-- Alarm Butonu -->
    <button class="alarm-button" onclick="goToAlarm()" title="Alarm">
      <div class="alarm-icon-container">
        <img
          src="{{ url_for('static', filename='images/svg/31.svg') }}"
          alt="Alarm"
          width="35"
          height="35"
        />
        <span id="alarm-count" class="alarm-badge">0</span>
      </div>
    </button>
  </div>

  <div class="header-logo">
    <img
      src="{{ url_for('static', filename='images/logos/logo-01.webp') }}"
      alt="Pier MTTP Logo"
      class="logo"
    />
  </div>

  <div class="header-right">
    <div class="date-time" id="currentDateTime">16 Temmuz 2024 13:50</div>
    <div class="report-line">
      <div class="line-header"></div>
    </div>
    <div class="report-date">{{ page_title }}</div>
  </div>
</div>

<script>
  function updateDateTime() {
    const now = new Date();
    const formattedDate = now.toLocaleString("tr-TR", {
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
    });
    document.getElementById("currentDateTime").textContent = formattedDate;
  }

  updateDateTime();
  setInterval(updateDateTime, 1000);

  function goToAlarm() {
    let selectedDeviceIP = sessionStorage.getItem("selected_device_ip");

    if (!selectedDeviceIP) {
      Swal.fire({
        icon: "warning",
        title: "{{ _('Warning') }}",
        text: "{{ _('Please select a device first!')}}",
        confirmButtonText: "{{ _('OK')}}",
      });
      return;
    }

    let loadingOverlay = document.createElement("div");
    loadingOverlay.id = "loading-overlay";
    loadingOverlay.className = "loading-overlay";
    loadingOverlay.innerHTML = `
            <div class="loading-box">
              <p> {{ _('Redirecting to the alarm page...') }}</p>
              <div class="loader"></div>
            </div>`;
    document.body.appendChild(loadingOverlay);
    window.location.href = `/alarm?ip_address=${selectedDeviceIP}`;
    window.addEventListener("pageshow", function () {
      let loader = document.getElementById("loading-overlay");
      if (loader) loader.remove();
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    updateAlarmCount();
    setInterval(updateAlarmCount, 10000);
  });

  function updateAlarmCount() {
    let totalAlarms = 0;
    fetch("/get_network_alarm_data")
      .then((response) => response.json())
      .then((data) => {
        if (data.status === "success") {
          totalAlarms += data.data.length;
        }
        return fetch("/get_electric_alarm_data");
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.status === "success") {
          totalAlarms += data.data.length;
        }

        let alarmBadge = document.getElementById("alarm-count");
        if (totalAlarms > 0) {
          alarmBadge.textContent = totalAlarms;
          alarmBadge.style.display = "inline-block";
        } else {
          alarmBadge.textContent = "0";
          alarmBadge.style.display = "none";
        }
      })
      .catch((error) => console.error("{{ _('Alarm data could not be retrieved') }}:", error));
  }

  // **** Test sayfasında olup olmadığımızı kontrol eden fonksiyon ***
  function isTestPage() {
    return window.location.pathname.includes("test");
  }

  function goBack() {
    if (isTestPage()) {
      Swal.fire({
        text: "{{ _('System will start again when you leave the test mode.') }}",
        icon: "info",
        backdrop: false,
        showCancelButton: true,
        confirmButtonColor: "#fff",
        confirmButtonText: "{{ _('OK') }}",
        cancelButtonText: "{{ _('Cancel') }}",
        customClass: {
          popup: "swal-custom-bg",
          confirmButton: "swal-button",  
          cancelButton: "swal-button",
        },
      }).then((result) => {
        if (result.isConfirmed) {
          // Kullanıcı Yes'e bastıysa
          fetch("/send_command", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              command: "systemctl start iot_main.service",
            }),
          })
            .then(() => {
              history.go(-1);
            })
            .catch((error) => {
              console.error("Error:", error);
              history.go(-1);
            });
        }
      });
    } else {
      history.go(-1);
    }
  }

  // Test sayfasına girildiğinde stop komutunu çalıştır
  document.addEventListener("DOMContentLoaded", function () {
    if (isTestPage()) {
      fetch("/send_command", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          command: "systemctl stop iot_main.service",
        }),
      }).catch((error) => console.error("Error stopping system:", error));
    }
  });
</script>

<style>
  .swal-custom-bg {
    background-color: #fff !important;
    color: black !important;
  }

  div:where(.swal2-actions) button.swal2-confirm {
    color: black !important; 
    font-weight: bold !important;
  }

  div:where(.swal2-actions) button.swal2-confirm {
    background-color: #ef742a !important;
    color: white !important;
  }

  div:where(.swal2-actions) button.swal2-cancel {
    color: white !important;
    background-color: grey !important;
  }

  div:where(.swal2-icon).swal2-info {
    border-color: #ef742a;
    color: #ef742a;
  }
</style>

