<div class="header">
    <div class="header-left">
      <button class="header-button">
        Back <i class="fas fa-arrow-left"></i>
      </button>
    </div>
  
    <div class="header-logo">
      <img
        src="{{ url_for('static', filename='images/logos/logo-01.webp') }}"
        alt="Pier MTTP Logo"
        class="logo"
      />
    </div>
  
    <div class="header-right">
      <div class="date-time">16 Temmuz 2024 13:50</div>
      <div class="report-line">
        <div class="line"></div>
      </div>
      <div class="report-date">ORC Status</div>
    </div>
  </div>
  