{% extends "layout.html" %}

{% block title %} {{ _('Data')}} {% endblock %}

{% block content %}

<!-- Header -->
{% include 'partials/header.html' %}
<div class="main-data-container">
    <div class="main-data-buttons">
        <button class="main-data-btn active" data-url="{{url_for('live-data')}}">{{ _('Live Data') }}</button>
        <button class="main-data-btn" data-url="{{url_for('hourly-data')}}">{{ _('Hourly Data') }}</button>
        <button class="main-data-btn" data-url="{{url_for('daily-data')}}">{{ _('Daily Data') }}</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".main-data-btn");

        buttons.forEach((button) => {
            button.addEventListener("click", function () {
                buttons.forEach((btn) => btn.classList.remove("active"));
                this.classList.add("active");
                const url = this.getAttribute("data-url");
                if (url) {
                    window.location.href = url; 
                }
            });
        });

        const currentPath = window.location.pathname;
        buttons.forEach((button) => {
            if (button.getAttribute("data-url") === currentPath) {
                button.classList.add("active");
            }
        });
    });
</script>
{% endblock %}
