{% extends "layout.html" %}

{% block title %} {{ _('Settings')}} {% endblock %}

{% block content %}

<!-- Header -->
{% include 'partials/header.html' %}
<div class="main-alarm-container">
    <div class="main-alrm-buttons">
        <button class="main-alarm-btn active" data-url="{{url_for('network_alarm_detail')}}">{{ _('Network Alarms')}}</button>
        <button class="main-alarm-btn" data-url="{{url_for('electric_alarm_detail')}}">{{ _('Electric Alarms')}}</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".main-alarm-btn");
        buttons.forEach((button) => {
            button.addEventListener("click", function () {
                buttons.forEach((btn) => btn.classList.remove("active"));
                this.classList.add("active");
                const url = this.getAttribute("data-url");
                if (url) {
                    window.location.href = url; 
                }
            });
        });
        const currentPath = window.location.pathname;
        buttons.forEach((button) => {
            if (button.getAttribute("data-url") === currentPath) {
                button.classList.add("active");
            }
        });
    });
</script>
{% endblock %}
                                             