{% extends "layout.html" %} {% block title %} Alarm {% endblock %} {% block
extra_css %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/alarm.css') }}"
/>
{% endblock %} {% block content %}

<!-- Header -->
{% include 'partials/header.html' %}
<div class="alarm-electric-container">
  <div class="alarm-electric-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Equipments Serial</th>
          <th>Data Value</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5" style="text-align: center">Yükleniyor...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("/get_electric_alarm_data")
      .then((response) => response.json())
      .then((data) => {
        let tableBody = document.querySelector(".alarm-electric-table tbody");
        tableBody.innerHTML = "";

        if (data.status === "success") {
          if (data.data.length === 0) {
            tableBody.innerHTML = `<tr><td colspan="5" style="text-align: center; color: red;">Electric Alarms Veritabanı Boş</td></tr>`;
            return;
          }

          data.data.forEach((alarm) => {
            let row = `<tr>
              <td class="highlight">${alarm.alarm_title}</td>
              <td>${alarm.serial_number}</td>
              <td>${alarm.data_value}</td>
              <td>${formatDate(alarm.start_at)}</td>
              <td>${formatDate(alarm.end_at)}</td>
            </tr>`;
            tableBody.innerHTML += row;
          });
        } else {
          tableBody.innerHTML = `<tr><td colspan="5" style="text-align: center; color: red;">Veri çekme hatası: ${data.message}</td></tr>`;
        }
      })
      .catch((error) => {
        document.querySelector(
          ".alarm-electric-table tbody"
        ).innerHTML = `<tr><td colspan="5" style="text-align: center; color: red;">Sunucuya bağlanılamadı!</td></tr>`;
      });
  });

  function formatDate(dateString) {
    return dateString ? new Date(dateString).toLocaleString("tr-TR") : "N/A";
  }
</script>

<style>
  .highlight {
    color: #ef742a;
  }
</style>
{% endblock %}
