/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0e1734;
  padding: 0px 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

/* Sol kısım (Butonlar) */
.header-left {
  display: flex;
  align-items: center;
  gap: 15px; // Butonlar arası boşluk
}

/* LOGIN ve MENU Butonları */
.header-button {
  background-color: #ff7f32;
  color: #1c2747;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: darken(#ff7f32, 10%);
    // box-shadow: 0 4px 8px rgba(255, 127, 50, 0.7);
  }

  i {
    font-size: 20px;
  }
}

/* LOGO */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; // Ortalamayı sağlıyor
  img {
    height: 40px;
  }
}

.date-time {
  font-weight: bold;
}

/* Çizgi ve kutucuk */
.report-line {
  display: flex;
  align-items: center;
  width: 120%;
  margin: 5px 0; /* Üst ve alt boşluk */
}

.square {
  width: 8px;
  height: 8px;
  background-color: #ff7f32; /* Turuncu kare */
  margin-right: 5px; /* Çizgiden boşluk */
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ff7f32; /* Çizginin rengi */
}

.report-date {
  font-size: 16px;
  color: #3b5fff;
  font-weight: bold;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
  background-color: #1c2747;
  color: #fff;
  height: calc(100vh - 84px);
  width: 97%;
  margin-top: 84px;
}

/* Enerji Tablosu */
.energy-table {
  background: #0b1734;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 7px;

  .energy-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 17px;
    position: relative;
  }

  .energy-header::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ffffff;
    position: absolute;
    bottom: 5px;
    left: 0;
  }

  .energy-row {
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    font-size: 16px;
  }

  .energy-row div {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .energy-value {
    display: inline-block;
    text-align: right;
  }
  .energy-row img {
    width: 20px;
    height: 20px;
  }
}

.system-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;
  width: 43%;
  margin-top: 0;
  margin: 0px;
  background-color: #0b1734;
  padding: 12px;
  border-radius: 7px;

  .info-box {
    background: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    height: 70px;
    padding: 6px;
    color: #1c2747;
    box-shadow: 0px 0 3px rgba(11, 23, 52, 0.2);
    img {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
  }

  .harmonic {
    background: #cd2727;
    color: #fff;
  }

  .active {
    background: #fff;
    color: #1c2747;
  }

  .power {
    background: #cd2727;
    color: #fff;
  }
}

.device-status {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0;
}

.system-info-wrapper {
  background: #0e1734;
  padding: 12px;
  border-radius: 8px;
  width: 40%;

  .system-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .info-box {
      background: #ffffff;
      color: #0e1734;
      border-radius: 10px;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70px;

      img {
        width: 24px;
        height: 24px;
        margin-bottom: 6px;
      }
    }

    .power,
    .harmonic {
      background: #e63946;
      color: white;
    }

    .active {
      background: #ffffff;
      color: #0e1734;
    }
  }
}

/* Gösterge Alanı */
.gauge-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  padding-top: 0px;
  margin: 0px 0px;
}

/* Gösterge Kutuları */
.gauge {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gauge-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.gauge-border {
  padding: 4px;
  border-radius: 50%;
  border: 2px solid #0da100;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.gauge-circle.frequency {
  background: radial-gradient(circle at center, #0b1734 60%, transparent 61%),
    conic-gradient(
      #28a745 0deg 90deg,
      /* Yeşil, 0-90 derece arasında, üstte */ #ff7f32 90deg 180deg,
      /* Turuncu, 90-180 derece arasında, sağda */ #0b1734 180deg 360deg
        /* Mavi dış kenar */
    );
  position: relative;
}

/* İç kısım için ayrı bir katman oluştur */
.gauge-circle::before {
  content: "";
  background: #1c2747;
  position: absolute;
  border-radius: 50%;
}

/* İçerideki metin */
.gauge-circle span {
  position: relative;
  z-index: 1;
  font-size: 18px;
}

.gauge-circle p {
  position: relative;
  z-index: 1;
  font-size: 13px;
  line-height: 0;
  font-weight: 200;
}
.reactive {
  background: #0da100;
}

.power-factor {
  background: radial-gradient(circle at center, #1c2747 60%, transparent 61%),
    conic-gradient(#ff7f32 40% 80%, #1c2747 80%);
  position: relative;
}

.voltage-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voltage-box {
  display: flex;
  align-items: center;
  background-color: #0e1734;
  border-radius: 3px;
  padding: 8px 25px;
  margin: 4px 6px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  gap: 9px;
  white-space: nowrap;

  .icon {
    display: flex;
    align-items: end;
    margin-left: 0px;
    margin-right: 23px;
    margin-top: 26px;

    img {
      width: 16px;
      height: 16px;
      margin-left: -20px;
    }
  }

  .value {
    font-weight: bold;
  }

  .phase {
    font-size: 12px;
    margin-left: 2px;
  }
}

.device-status {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.voltage-section {
  display: flex;
  flex-direction: column;
  background-color: #0e1734;
  padding: 20px 10px;
  border-radius: 8px;
}

.voltage-table {
  display: flex;
  justify-content: center;
  gap: 0px;
  // margin-bottom: 10px;
}

.voltage-box {
  background-color: #1c2747;
  border-radius: 6px;
  padding: 13px 0px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 13px;
  gap: 8px;
  min-width: 100px;
  justify-content: center;
  flex-direction: column;
  margin: 6px;
}

.voltage-box .icon img {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.voltage-box .value {
  font-size: 15px;
}

.voltage-box .phase {
  font-size: 12px;
  opacity: 0.9;
}

.gauge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gauge {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gauge-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gauge-circle.frequency {
  background: radial-gradient(circle at center, #0b1734 60%, transparent 61%),
    conic-gradient(
      #28a745 0deg 90deg,
      #ff7f32 90deg 180deg,
      #0b1734 180deg 360deg
    );
}

.gauge-circle.frequency::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: #1c2747;
  border-radius: 50%;
  z-index: 0;
}

.gauge-circle span,
.gauge-circle p {
  z-index: 1;
  margin: 0;
}

.gauge-circle span {
  font-size: 18px;
}

.gauge-circle p {
  font-size: 13px;
  line-height: 0;
  font-weight: 200;
}

.gauge-border {
  padding: 4px;
  border-radius: 50%;
  border: 2px solid #0da100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gauge-circle.reactive {
  background-color: #0da100;
}

.gauge-circle.power-factor {
  background: radial-gradient(circle at center, #1c2747 60%, transparent 61%),
    conic-gradient(#ff7f32 40% 80%, #1c2747 80%);
}

/* Dil Seçici */
.language-switcher {
  position: relative;
  display: flex;
  align-items: center;

  .language-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .selected-lang-txt {
    font-size: 16px;
    margin: 2px 0px 0px 0px;
  }

  .language-dropdown::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 47px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #fff;
  }

  .language-dropdown {
    position: absolute;
    top: 143%;
    transform: translateX(8%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: none;
    flex-direction: column;
    min-width: 94px;
    z-index: 1000;

    button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 7px;
      background: none;
      border: none;
      color: #0e1734;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
      width: 100%;
    }
  }

  &:hover .language-dropdown {
    display: flex;
  }
}

.language-switcher {
  position: relative;
  display: inline-block;

  .language-toggle {
    border-radius: 50%;
    padding: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .language-dropdown {
    button {
      background: #f1f1f1;
      border: none;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px 14px;
      font-size: 14px;
      font-weight: 600;
      width: 100%;
      cursor: pointer;
      transition: background 0.3s;
      border: 2px solid white;
      border-radius: 88px;

      img {
        width: 20px;
        height: 14px;
      }

      input[type="radio"] {
        accent-color: #ff7f32;
        margin: 0;
      }
    }
  }

  &:hover .language-dropdown {
    display: flex;
  }
}

.language-switcher:hover .language-dropdown {
  display: flex;
}

.language-switcher.active .language-dropdown {
  display: block;
}

.lang-btn.selected .radio-indicator {
  background-color: #ff7f32;
  border-color: #ff7f32;
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid silver;
  border-radius: 12px;
  padding: 8px 12px;
  background: white;
  margin-bottom: 8px;
  transition: background 0.3s ease;
}

.lang-content {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0e1734;
  font-weight: 600;
}

.lang-btn:hover {
  background-color: none !important;
}
.radio-indicator-cover {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid silver;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  transition: 0.3s;
}
.lang-btn {
  transition: none !important;
}
.radio-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s;
}

.lang-btn.selected .radio-indicator {
  background-color: #ff7f32;
}
.lang-back {
  background-color: #ef8018;
  padding: 15px;
  border-radius: 3px;
}

/* RESPONSIVE */
@media (min-width: 1024px) {
  .energy-table {
    font-size: 1.3rem;
    padding: 30px;
    /* height: 40%; */
    text-align: center;
    align-items: normal;
    justify-content: center;

    .energy-header {
      font-size: 1.4rem;
      padding-bottom: 20px;
    }

    .energy-row {
      font-size: 1.3rem;
      padding: 10px 15px;

      div {
        display: flex;
        align-items: center;
        gap: 6px;

        img {
          width: 28px;
          height: 28px;
          flex-shrink: 0;
          margin-right: 2px;
        }
      }

      .energy-value {
        min-width: 100px;
        font-weight: bold;
      }
    }
  }

  .dashboard-container {
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  .voltage-section {
    flex: 1;
    padding: 25px;
    height: 80%;
    justify-content: center;
  }

  .voltage-table {
    gap: 10px;
  }

  .voltage-box {
    padding: 36px 27px;
    min-width: 280px;

    .icon img {
      width: 22px;
      height: 22px;
    }

    .value {
      font-size: 18px;
    }

    .phase {
      font-size: 14px;
    }
  }

  .gauge-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .gauge {
    width: 150px;
    height: 150px;
  }

  .gauge-circle {
    width: 150px;
    height: 150px;

    span {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }
  .voltage-box .icon {
    margin-right: 44px;
  }
}

.gauge-chart {
  width: 130px;
  height: 130px;

  // Sadece reaktif için yükseklik farkı
  &.reactive {
    height: 120px;
  }

  @media (min-width: 1024px) {
    width: 180px;
    height: 180px;

    &.reactive {
      height: 160px;
    }
  }

  @media (min-width: 1440px) {
    width: 220px;
    height: 220px;

    &.reactive {
      height: 200px;
    }
  }
}
