// 📌 Temel Değişkenler
$primary-color: #ff6f00;
$background-color: #1C2747;
$text-color: #fff;
$border-radius: 8px;

// 📌 Genel Stil Ayarları
body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// 📌 Equipment Sayfası Konteyneri
.equipment-container {
  margin-top: 79px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 97vw;
  height: calc(79vh - -17px);
  background: #0B1734;
  border-radius: 10px;
}

.equipment-container-wrapper {  
  margin-top: 80px;
  padding: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #0B1734;
  border-radius: 7px;
  width: 960px;
  height: 460px;
}

// 📌 Equipment Grid
.equipment-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1024px;
}

// 📌 Equipment Kutuları
.equipment-box {
  padding: 35px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border-radius: $border-radius;
  color: #000;
}

// 📌 Renkler
.green {
  background-color: #4CAF50;
}

.red {
  background-color: #D32F2F;
}
