.equ-set-container {
  display: flex;
  margin-top: 31px;
}
.equ-set-container .equ-set-sidebar {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.equ-set-container .equ-set-sidebar .equ-set-btn {
  background: white;
  border: 3px solid transparent;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 22px 18px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: left;
}
.equ-set-container .equ-set-sidebar .equ-set-btn.active {
  border-color: #ff6f00;
}
.equ-set-container .equ-set-sidebar .equ-set-btn:hover {
  background: #f5f5f5;
}
.equ-set-container .equ-set-content {
  flex-grow: 1;
  padding-left: 14px;
}
.equ-set-container .equ-set-content .modbus-setting-form {
  background: #161b3d;
  padding: 12px;
  border-radius: 10px;
  width: 528px;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-row .modbus-setting-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-row .modbus-setting-group label {
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-row .modbus-setting-group input {
  background: white;
  border: none;
  padding: 9px;
  border-radius: 4px;
  font-size: 14px;
  width: 80%;
  box-sizing: border-box;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-btn-test {
  background: #ef742a;
  color: white;
  border: none;
  width: 50%;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 40px auto 0 auto;
  text-align: center;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-btn-test:hover {
  background: #d65f1f;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-success {
  color: #40c700;
  font-weight: 100;
  text-align: center;
  margin-top: 25px;
}
.equ-set-container .equ-set-content .modbus-setting-form .modbus-setting-failed {
  color: #ff0000;
  font-weight: 100;
  text-align: center;
  line-height: 0;
}

.equip-setting-card {
  background: #161b3d;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 547px;
  height: 317px;
}

.equip-setting-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c4c4c4;
  padding: 6px;
  border-radius: 7px;
  margin-top: 15px;
  width: 500px;
  text-align: center;
}

.equip-setting-group label {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.equip-setting-group input {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 46%;
  font-size: 16px;
}

.equip-setting-select {
  position: relative;
  width: 50%;
}

.equip-setting-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 9px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background: white;
}

.equip-setting-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: black;
}

.equip-setting-save-btn {
  background: #ef742a;
  color: white;
  border: none;
  width: 25%;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}
.equip-setting-save-btn:hover {
  background: #d65f1f;
}

.equ-set-content {
  flex-grow: 1;
  padding-left: 30px;
}
.equ-set-content .obis-setting-form {
  background: #161b3d;
  padding: 7px;
  border-radius: 10px;
  width: 540px;
}

.equ-set-content {
  flex-grow: 1;
  padding-left: 30px;
}
.equ-set-content .tcp-setting-form {
  background: #161b3d;
  padding: 7px;
  border-radius: 10px;
  width: 540px;
}

.equ-set-sidebar .equ-set-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 1;
}/*# sourceMappingURL=equipment-setting.css.map */