// 📌 Temel Değişkenler
$primary-color: #ff6f00;
$background-color: #1c2747;
$text-color: #fff;
$border-radius: 8px;

// 📌 Genel Stil Ayarları
body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// 📌 Equipment Sayfası Konteyneri
.equipment-container {
  margin-top: 79px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 97vw;
  height: calc(79vh - -17px);
  background: #0b1734;
  border-radius: 10px;
}

.equipment-container-wrapper {
  margin-top: 80px;
  padding: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #0b1734;
  border-radius: 7px;
  width: 93%;
  height: 72%;
}

// 📌 Equipment Grid
.equipment-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1024px;
}

// 📌 Equipment Kutuları
.equipment-box {
  padding: 30px 0px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: $border-radius;
  color: #fff;
}

// 📌 Renkler
.green {
  background-color: #46b649;
}

.red {
  background-color: #d32f2f;
}

// !! 10 inch RESPONSIVE
@media screen and (min-width: 1024px) and (max-height: 600px) {
  .equipment-container-wrapper {
    width: 94%;
    height: 73%;
  }
  .equipment-box {
    padding: 35px 0px;
    font-size: 21px;
  }
  .equipment-container-wrapper {
    margin-top: 100px;
  }
}
