.live-data-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  font-family: "Arial", sans-serif;
  gap: 20px;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 80px;
}
.live-data-container .live-data-table,
.live-data-container .live-data-status {
  width: 48%;
  background-color: #191932;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 500px;
}
.live-data-container .table-header {
  position: sticky;
  top: 0;
  background-color: #191932;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2d2d4a;
}
.live-data-container .table-header > div {
  flex: 1;
  padding: 10px;
  text-align: left;
  color: #ff9800;
  font-weight: bold;
}
.live-data-container .table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #2d2d4a;
}
.live-data-container .table-row > div {
  flex: 1;
  padding: 10px;
  text-align: left;
  color: #ccc;
}
.live-data-container .status {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.live-data-container .status.active {
  background-color: green;
}
.live-data-container .status.inactive {
  background-color: red;
}
.live-data-container .live-data-status .table-row > div[data-status="A / A"] {
  color: green;
}
.live-data-container .live-data-status .table-row > div[data-status="P / P"] {
  color: red;
}

.live-data-detail-table-container {
  width: 96%;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #fff;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 80px;
}
.live-data-detail-table-container .live-data-detail-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #0B1734;
  border-radius: 10px;
  overflow: hidden;
}
.live-data-detail-table-container .live-data-detail-data-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}
.live-data-detail-table-container .live-data-detail-data-table th,
.live-data-detail-table-container .live-data-detail-data-table td {
  border: none;
  padding: 8px;
  text-align: center;
}
.live-data-detail-table-container .live-data-detail-data-table th {
  background: #0B1734;
  font-weight: bold;
  color: #EF8018;
  border-bottom: 1px solid #ffffff;
}
.live-data-detail-table-container .live-data-detail-data-table td {
  border-bottom: 1px solid #EF8018;
}
.live-data-detail-table-container .live-data-detail-data-table tbody tr:last-child td {
  border-bottom: none;
}
.live-data-detail-status {
  color: #00ff00;
}
.live-data-detail-archive {
  color: red;
}
.live-data-detail-error {
  background: rgba(255, 0, 0, 0.1);
  color: #ff4444;
}
.live-data-detail-error tr {
  text-align: left;
}
.live-data-detail-error-text {
  color: #ff4444;
}

.hourly-data-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  font-family: "Arial", sans-serif;
  gap: 20px;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 80px;
}
.hourly-data-container .hourly-data-table,
.hourly-data-container .hourly-data-status {
  width: 48%;
  background-color: #191932;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 500px;
}
.hourly-data-container .table-header {
  position: sticky;
  top: 0;
  background-color: #191932;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2d2d4a;
}
.hourly-data-container .table-header > div {
  flex: 1;
  padding: 10px;
  text-align: left;
  color: #ff9800;
  font-weight: bold;
}
.hourly-data-container .table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #2d2d4a;
}
.hourly-data-container .table-row > div {
  flex: 1;
  padding: 10px;
  text-align: left;
  color: #ccc;
}
.hourly-data-container .status {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.hourly-data-container .status.active {
  background-color: green;
}
.hourly-data-container .status.inactive {
  background-color: red;
}
.hourly-data-container .hourly-data-status .table-row > div[data-status="A / A"] {
  color: green;
}
.hourly-data-container .hourly-data-status .table-row > div[data-status="P / P"] {
  color: red;
}

.hourly-data-detail-table-container {
  width: 96%;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #fff;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 80px;
}
.hourly-data-detail-table-container .hourly-data-detail-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #0B1734;
  border-radius: 10px;
  overflow: hidden;
}
.hourly-data-detail-table-container .hourly-data-detail-data-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}
.hourly-data-detail-table-container .hourly-data-detail-data-table th,
.hourly-data-detail-table-container .hourly-data-detail-data-table td {
  border: none;
  padding: 8px;
  text-align: center;
}
.hourly-data-detail-table-container .hourly-data-detail-data-table th {
  background: #0B1734;
  font-weight: bold;
  color: #EF8018;
  border-bottom: 1px solid #ffffff;
}
.hourly-data-detail-table-container .hourly-data-detail-data-table td {
  border-bottom: 1px solid #EF8018;
}
.hourly-data-detail-table-container .hourly-data-detail-data-table tbody tr:last-child td {
  border-bottom: none;
}
.hourly-data-detail-status {
  color: #00ff00;
}
.hourly-data-detail-archive {
  color: red;
}
.hourly-data-detail-error {
  background: rgba(255, 0, 0, 0.1);
  color: #ff4444;
}
.hourly-data-detail-error tr {
  text-align: left;
}
.hourly-data-detail-error-text {
  color: #ff4444;
}

.daily-data-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  font-family: "Arial", sans-serif;
  gap: 20px;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 80px;
}
.daily-data-container .daily-data-table,
.daily-data-container .daily-data-status {
  width: 48%;
  background-color: #191932;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 500px;
}
.daily-data-container .table-header {
  position: sticky;
  top: 0;
  background-color: #191932;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2d2d4a;
}
.daily-data-container .table-header > div {
  flex: 1;
  padding: 10px;
  text-align: left;
  color: #ff9800;
  font-weight: bold;
}
.daily-data-container .table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #2d2d4a;
}
.daily-data-container .table-row > div {
  flex: 1;
  padding: 10px;
  text-align: left;
  color: #ccc;
}
.daily-data-container .status {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.daily-data-container .status.active {
  background-color: green;
}
.daily-data-container .status.inactive {
  background-color: red;
}
.daily-data-container .daily-data-status .table-row > div[data-status="A / A"] {
  color: green;
}
.daily-data-container .daily-data-status .table-row > div[data-status="P / P"] {
  color: red;
}

.daily-data-detail-table-container {
  width: 96%;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #fff;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 80px;
}
.daily-data-detail-table-container .daily-data-detail-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #0B1734;
  border-radius: 10px;
  overflow: hidden;
}
.daily-data-detail-table-container .daily-data-detail-data-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}
.daily-data-detail-table-container .daily-data-detail-data-table th,
.daily-data-detail-table-container .daily-data-detail-data-table td {
  border: none;
  padding: 8px;
  text-align: center;
}
.daily-data-detail-table-container .daily-data-detail-data-table th {
  background: #0B1734;
  font-weight: bold;
  color: #EF8018;
  border-bottom: 1px solid #ffffff;
}
.daily-data-detail-table-container .daily-data-detail-data-table td {
  border-bottom: 1px solid #EF8018;
}
.daily-data-detail-table-container .daily-data-detail-data-table tbody tr:last-child td {
  border-bottom: none;
}
.daily-data-detail-status {
  color: #00ff00;
}
.daily-data-detail-archive {
  color: red;
}
.daily-data-detail-error {
  background: rgba(255, 0, 0, 0.1);
  color: #ff4444;
}
.daily-data-detail-error tr {
  text-align: left;
}
.daily-data-detail-error-text {
  color: #ff4444;
}/*# sourceMappingURL=live-data.css.map */