// 📌 Temel Değişkenler
$primary-color: #ff6f00;
$background-color: #1c2747;
$text-color: #fff;
$border-radius: 8px;
$header-height: 60px;

// 📌 Genel Stil Ayarları
body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// 📌 Log Sayfası Konteyneri
.log-container {
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// 📌 Log Tablosu
.log-table {
  width: 752px;
  max-height: 354px;
  background-color: #0b1734;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

  // İçerik için scroll eklenmesi
  .log-table-content {
    max-height: 354px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background: #0b1734;
      padding: 9px;
      font-size: 14px;
      border-bottom: 1px solid #fff;
      text-align: center;
      position: sticky;
      top: 0;
      z-index: 2;
    }

    td {
      padding: 8px;
      font-size: 14px;
      border-bottom: 1px solid #ef742a;
      text-align: center;
    }

    // Son satırdaki tüm `td` öğelerinin alt çizgisini kaldırır
    tr:last-child td {
      border-bottom: none;
    }
    .status-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline-block;

      &.green {
        background-color: #4caf50;
      }
      &.red {
        background-color: #ff0000;
      }
    }
  }
}
