@charset "UTF-8";
body {
  background-color: #1c2747;
  color: #fff;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.log-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 61vh;
}

.log-table {
  width: 763px;
  max-height: 319px;
  background-color: #0b1734;
  padding: 7px;
  border-radius: 8px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
.log-table .log-table-content {
  max-height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
}
.log-table table {
  width: 100%;
  border-collapse: collapse;
}
.log-table table th {
  background: #0b1734;
  padding: 0px 9px 8px;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.log-table table td {
  padding: 3px;
  font-size: 14px;
  border-bottom: 1px solid #ef742a;
  text-align: center;
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}
.log-table table tr:last-child td {
  border-bottom: none;
}
.log-table table .status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}
.log-table table .status-dot.green {
  background-color: #33FF00;
}
.log-table table .status-dot.red {
  background-color: #ff0000;
}

/* Log türüne göre renk kodlaması */
.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.status-info {
  background-color: #33FF00;
}

.status-warning {
  background-color: orange;
}

.status-exception {
  background-color: #FF0F00;
}

/* Takvim Konteyneri */
#calendar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0b1734;
  gap: 10px;
  margin-left: 20px;
  margin-right: auto;
}

.calendar-input-wrapper {
  position: relative;
  display: inline-block;
}

.calendar-input {
  background-color: #0e1734;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3333333333);
  border-radius: 6px;
  cursor: default;
  width: auto;
  font-weight: bold;
  text-align: center;
}

.calendar-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.calendar-icon.open {
  transform: translateY(-50%) rotate(180deg); /* Yukarı döner */
}

.calendar-icon.open {
  transform: translateY(-50%) rotate(180deg);
}

.calendar-input:focus {
  border-color: #ff6f00;
  outline: none;
}

.log-table-content table {
  width: 100%;
  border-collapse: collapse;
}

.log-table-content th,
.log-table-content td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-info {
  background-color: #33FF00;
}

.status-warning {
  background-color: orange;
}

.status-exception {
  background-color: #FF0F00;
}

.ellipsis {
  max-width: 100%;
  --webkit-line-clamp: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
}

.log-full {
  display: none;
  white-space: normal;
  word-break: break-word;
}

.toggle-link {
  color: #fe5f00;
  text-decoration: none;
  cursor: pointer;
}

.toggle-link:hover {
  text-decoration: underline;
}

.date-range-box {
  background-color: #1f2235;
  color: #ffffff;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  display: inline-block;
  margin-bottom: 10px;
}

.daterangepicker {
  width: 50% !important;
}

.custom-picker {
  background-color: rgb(3, 22, 43);
  color: white;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 220px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center; /* Ok işaretini sağa yerleştiriyoruz */
  background-size: 12px;
  text-align: left; /* Ay ve yıl yazısını sola alıyoruz */
}

.custom-picker::-moz-placeholder {
  color: white;
  opacity: 0.7;
}

.custom-picker::placeholder {
  color: white;
  opacity: 0.7;
}

.daterangepicker,
.daterangepicker .calendar-table,
.daterangepicker .drp-calendar {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}

.daterangepicker td.available:hover,
.daterangepicker .drp-buttons .btn {
  background-color: rgb(4, 29, 56) !important;
  color: white !important;
}

.daterangepicker:after,
.daterangepicker:before {
  display: none !important;
}/*# sourceMappingURL=log.css.map */