@charset "UTF-8";
.settings-content {
  display: flex;
  gap: 10px;
  margin-top: 60px;
}
.settings-content .tab-btn-set {
  padding: 16px;
  border-radius: 7px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

.orc-sidebar-set {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 155px;
}

.tab-btn-set.active {
  background-color: #fff;
  font-weight: 700;
  border: 3px solid #ff6f00;
  color: #000;
}

.wifi-container-set {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.btn-group-set {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.network-box-set {
  margin-right: 8px;
  margin-left: 8px;
}
.network-box-set .network-header-set {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  background: #ef742a;
  padding: 19px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 190px;
  color: #fff;
}
.network-box-set .network-header-set .wifi-icon-set {
  display: flex;
  gap: 10px;
}
.network-box-set .network-header-set .wifi-icon-set img {
  width: 30px;
}
.network-box-set .wifi-list-set.active {
  max-height: 300px;
  padding: 14px;
  margin-top: 12px;
  color: #fff;
}

.content-area-set .wifi-list-set {
  width: 170px;
  max-height: 300px;
  overflow-y: auto;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 11px 14px;
  color: #1c2747;
}
.content-area-set .available-wifi-underline {
  border-bottom: 1px solid #ef742a;
}
.content-area-set ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.content-area-set ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
  color: #1c2747;
  font-size: 14px;
  font-weight: 600;
}
.content-area-set ul li:last-child {
  border-bottom: none;
}
.content-area-set ul li img {
  width: 20px;
  height: 20px;
}

.wifi-icon-set {
  display: flex;
  gap: 10px;
}

.wifi-icon-password {
  display: flex;
  gap: 10px;
}

.wifi-connection-set {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wifi-card-set {
  background: white;
  padding: 12px;
  border-radius: 10px;
  width: 358px;
}
.wifi-card-set .underline {
  border: 1px solid #ef8018;
  opacity: 0.5;
}
.wifi-card-set h4 {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 0px;
  color: #1c2747;
}
.wifi-card-set p {
  font-size: 16px;
  font-weight: 700;
  color: #1c2747;
}
.wifi-card-set label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #1c2747;
}
.wifi-card-set input {
  padding: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background: #e2e2e2;
  width: 100%;
}
.wifi-card-set .password-intput-set input {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 91%;
}
.wifi-card-set .show-password-set {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  justify-content: flex-start;
  width: 300px;
}
.wifi-card-set .show-password-set .check-box-set {
  width: 15px;
}
.wifi-card-set .show-password-set .show-pass {
  font-size: 14px;
  color: #1c2747;
  font-weight: 100;
  white-space: nowrap;
}
.wifi-card-set .btn-group-set {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.wifi-card-set .btn-group-set .btn-set {
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}
.wifi-card-set .btn-group-set .btn-set.cancel-set {
  background: #e3e3e3;
  color: #6e6e6e;
  padding: 14px 40px;
  width: 100%;
}
.wifi-card-set .btn-group-set .btn-set.cancel-set:hover {
  background: #ef742a;
  color: white;
}
.wifi-card-set .btn-group-set .btn-set.connec-set {
  background: #ef742a;
  color: white;
  padding: 14px 40px;
  width: 100%;
}
.wifi-card-set .btn-group-set .btn-set.connec-set:hover {
  background: #e3e3e3;
  color: #6e6e6e;
}
.wifi-card-set.connected .wifi-info-set {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  color: #1c2747;
  font-weight: bold;
}
.wifi-card-set.connected .wifi-info-set .disconnect {
  background: #ef742a;
  color: white;
  border: none;
  padding: 14px 40px;
  cursor: pointer;
  border-radius: 5px;
}
.wifi-card-set #wifi-list {
  background: white;
  border-radius: 7px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  width: 280px;
  display: none;
}
.wifi-card-set #wifi-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wifi-card-set .wifi-list-set li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: background 0.2s ease-in-out;
}
.wifi-card-set .wifi-list-set li:hover {
  background: #f7f7f7;
}
.wifi-card-set .wifi-list-set li:last-child {
  border-bottom: none;
}
.wifi-card-set .wifi-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wifi-card-set .wifi-icon img {
  width: 20px;
  height: 20px;
}
.wifi-card-set .lock-icon {
  width: 14px;
  height: 14px;
}

.orc-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  margin-left: 10px;
}

.orc-settings-card {
  background: #161b3d;
  padding: 13px;
  border-radius: 10px;
  width: 570px;
  align-items: center;
}

.orc-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c4c4c4;
  padding: 6px;
  border-radius: 7px;
  margin-bottom: 13px;
}

.orc-input-group label {
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.orc-input-group input,
.orc-input-group select {
  background: white;
  border: none;
  padding: 15px;
  border-radius: 3px;
  width: 50%;
  box-sizing: border-box;
  font-size: 15px;
}

.orc-input-group select {
  appearance: none; /* Tarayıcı varsayılan stilini kaldırır */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px; /* İçerik için ekstra boşluk bırakır */
}

.orc-input-group select {
  min-width: 150px;
}

.orc-save-btn {
  background: #ef742a;
  color: white;
  border: none;
  width: 30%;
  padding: 19px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 34px 17px 12px 189px;
}

.orc-save-btn:hover {
  background: #d65f1f;
}

.eth-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
}

.eth-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;
}
.eth-settings-card h3 {
  text-align: center;
}

.lora-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
}
.lora-settings-container h3 {
  text-align: center;
}

.lora-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;
}
.lora-settings-card h3 {
  text-align: center;
}

.gsm-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
}
.gsm-settings-container h3 {
  text-align: center;
}

.gsm-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;
}
.gsm-settings-card h3 {
  text-align: center;
}/*# sourceMappingURL=orc-setting.css.map */