.settings-content {
  display: flex;
  gap: 10px;
  margin-top: 70px;

  .tab-btn-set {
    padding: 20px;
    border-radius: 7px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
  }
}
.orc-sidebar-set {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 170px;
}
.tab-btn-set.active {
  background-color: #fff;
  font-weight: 700;
  border: 3px solid #ff6f00;
  color: #000;
}
.wifi-container-set {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.btn-group-set {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.network-box-set {
  margin-right: 8px;
  margin-left: 8px;

  .network-header-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    background: #ef742a;
    padding: 19px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 190px;
    color: #fff;

    .wifi-icon-set {
      display: flex;
      gap: 10px;

      img {
        width: 30px;
      }
    }
  }
  .wifi-list-set.active {
    max-height: 300px;
    padding: 14px;
    margin-top: 12px;
    color: #fff;
  }
}

.content-area-set {
  .wifi-list-set {
    width: 170px;
    max-height: 300px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 11px 14px;
    color: #1c2747;
  }

  .available-wifi-underline {
    border-bottom: 1px solid #ef742a;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
    color: #1c2747;
    font-size: 14px;
    font-weight: 600;
  }

  ul li:last-child {
    border-bottom: none;
  }

  ul li img {
    width: 20px; 
    height: auto;
  }
}

.wifi-icon-set {
  display: flex;
  gap: 10px;
}
.wifi-icon-password {
  display: flex;
  gap: 10px;
}
.wifi-connection-set {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wifi-card-set {
  background: white;
  padding: 12px;
  border-radius: 10px;
  width: 358px;

  .underline {
    border: 1px solid #ef8018;
    opacity: 0.5;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 0px;
    color: #1c2747;
  }

  p {
    font-size: 18px;
    font-weight: 700;
    color: #1c2747;
    margin-left: 34px;
    margin-top: 0;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #1c2747;
  }

  input {
    padding: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background: #e2e2e2;
    width: 100%;
  }

  .password-intput-set {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .show-password-set {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
    width: 300px;

    .check-box-set {
      width: 15px;
    }

    .show-pass {
      font-size: 14px;
      color: #1c2747;
      font-weight: 100;
      white-space: nowrap;
    }
  }

  .btn-group-set {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    gap: 10px;

    .btn-set {
      padding: 12px 30px;
      border: none;
      cursor: pointer;
      border-radius: 6px;
      background: #ef742a;
      color: #fff;
      font-size: 16px;

      &.cancel {
        background: #ef742a;
        color: white;
        padding: 14px 40px;
      }

      &.connect {
        background: #ef742a;
        color: white;
        padding: 14px 40px;
      }
    }
  }

  &.connected {
    .wifi-info-set {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border-radius: 5px;
      color: #1c2747;
      font-weight: bold;

      .disconnect {
        background: #ef742a;
        color: white;
        border: none;
        padding: 14px 40px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }

  #wifi-list {
    background: white;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    width: 280px;
    display: none;
  }

  #wifi-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .wifi-list-set li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    transition: background 0.2s ease-in-out;
  }

  .wifi-list-set li:hover {
    background: #f7f7f7;
  }

  .wifi-list-set li:last-child {
    border-bottom: none;
  }

  .wifi-icon {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .wifi-icon img {
    width: 20px;
    height: 20px;
  }

  .lock-icon {
    width: 14px;
    height: 14px;
  }
}

// ORC Settings
.orc-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  margin-left: 10px;
}

.orc-settings-card {
  background: #161b3d;
  padding: 19px;
  border-radius: 10px;
  width: 530px;
  align-items: center;
}

.orc-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c4c4c4;
  padding: 6px;
  border-radius: 7px;
  margin-bottom: 13px;
}

.orc-input-group label {
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.orc-input-group input,
.orc-input-group select {
  background: white;
  border: none;
  padding: 15px;
  border-radius: 3px;
  width: 50%;
  box-sizing: border-box;
  font-size: 15px;
}

.orc-input-group select {
  appearance: none; /* Tarayıcı varsayılan stilini kaldırır */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px; /* İçerik için ekstra boşluk bırakır */
}

.orc-input-group select {
  min-width: 150px;
}

.orc-save-btn {
  background: #ef742a;
  color: white;
  border: none;
  width: 30%;
  padding: 19px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 34px 17px 12px 189px;
}
.orc-save-btn:hover {
  background: #d65f1f;
}

// eth Settings
.eth-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
}

.eth-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;
  h3 {
    text-align: center;
  }
}

// lora Settings
.lora-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
  h3 {
    text-align: center;
  }
}

.lora-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;
  h3 {
    text-align: center;
  }
}

// gsm Settings
.gsm-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
  h3 {
    text-align: center;
  }
}

.gsm-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;

  h3 {
    text-align: center;
  }
}
