.settings-content {
  display: flex;
  gap: 10px;
  margin-top: 60px;

  .tab-btn-set {
    padding: 20px;
    border-radius: 7px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
  }
}
.orc-sidebar-set {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 155px;
}
.tab-btn-set.active {
  background-color: #fff;
  font-weight: 700;
  border: 3px solid #ff6f00;
  color: #000;
}
.wifi-container-set {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: 364px;
}

.btn-group-set {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.network-box-set {
  width: 270px;
  .network-header-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    background: #ef742a;
    padding: 19px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 190px;
    color: #fff;

    .wifi-icon-set {
      display: flex;
      gap: 10px;

      img {
        width: 30px;
      }
    }
  }
  .wifi-list-set.active {
    max-height: 300px;
    padding: 14px;
    margin-top: 12px;
    color: #fff;
  }
}

.content-area-set {
  .wifi-list-set {
    max-height: 310px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 11px 14px;
    color: #1c2747;
  }

  .available-wifi-underline {
    border-bottom: 1px solid #ef742a;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
    color: #1c2747;
    font-size: 14px;
    font-weight: 600;
  }

  ul li:last-child {
    border-bottom: none;
  }

  ul li img {
    width: 20px;
    height: 20px;
  }
}

.wifi-icon-set {
  display: flex;
  gap: 10px;
}
.wifi-icon-password {
  display: flex;
  gap: 10px;
}
.wifi-connection-set {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ssid-cover {
  background: #0b1734;
  color: white;
  border: 1px solid #ef8018;
}
.bg-white {
  background-color: #fff;
}

.wifi-card-set {
  padding: 12px;
  border-radius: 10px;
  width: 310px;

  .underline {
    border: 1px solid #ef8018;
    opacity: 0.5;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 0px;
    color: #ef8018;
    display: flex;
    gap: 14px;
    align-items: center;
  }

  p {
    font-size: 16px;
    font-weight: 700;
    color: #1c2747;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #1c2747;
  }

  input {
    padding: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background: #e2e2e2;
    width: 100%;
  }

  .password-intput-set input {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 91%;
  }

  .show-password-set {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    justify-content: flex-start;
    width: 300px;

    .check-box-set {
      width: 15px;
    }

    .show-pass {
      font-size: 14px;
      color: #1c2747;
      font-weight: 100;
      white-space: nowrap;
    }
  }

  .btn-group-set {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .btn-set {
      padding: 12px 30px;
      border: none;
      cursor: pointer;
      border-radius: 6px;
      font-size: 16px;

      &.cancel-set {
        background: #e3e3e3;
        color: #6e6e6e;

        &:hover {
          background: #ef742a;
          color: white;
        }
      }

      &.connec-set {
        background: #ef742a;
        color: white;

        &:hover {
          background: #e3e3e3;
          color: #6e6e6e;
        }
      }
    }
  }

  &.connected {
    .wifi-info-set {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;

      .disconnect {
        background: #ef742a;
        color: white;
        border: none;
        padding: 14px 40px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }

  #wifi-list {
    background: white;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    width: 280px;
    display: none;
  }

  #wifi-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .wifi-list-set li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    transition: background 0.2s ease-in-out;
  }

  .wifi-list-set li:hover {
    background: #f7f7f7;
  }

  .wifi-list-set li:last-child {
    border-bottom: none;
  }

  .wifi-icon {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .wifi-icon img {
    width: 20px;
    height: 20px;
  }

  .lock-icon {
    width: 14px;
    height: 14px;
  }
}

// ORC Settings
.orc-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
}

.orc-settings-card {
  background: #161b3d;
  padding: 13px;
  border-radius: 10px;
  width: 590px;
  align-items: center;
}

.orc-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c4c4c4;
  padding: 2px 8px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.orc-input-group label {
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.orc-input-group input,
.orc-input-group select {
  background: #ffffff;
  border: none;
  padding: 11px;
  margin: 3px;
  border-radius: 5px;
  width: 40%;
  box-sizing: border-box;
  font-size: 15px;
  color: #6e6e6e;
  font-weight: 600;
  border: 1px solid #b1b1b1;
  text-align: center;
}

.orc-input-group select {
  appearance: none; /* Tarayıcı varsayılan stilini kaldırır */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px; /* İçerik için ekstra boşluk bırakır */
}

.orc-input-group select {
  min-width: 150px;
}

.orc-save-btn {
  background: #ef8018;
  color: white;
  border: none;
  width: 38%;
  padding: 12px 3px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-self: center;
}
.orc-save-btn:hover {
  background: #d65f1f;
}

// eth Settings
.eth-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
}

.eth-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;
  h3 {
    text-align: center;
  }
}

// lora Settings
.lora-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
  h3 {
    text-align: center;
  }
}

.lora-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;
  h3 {
    text-align: center;
  }
}

// gsm Settings
.gsm-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  border-radius: 10px;
  h3 {
    text-align: center;
  }
}

.gsm-settings-card {
  background: #161b3d;
  padding: 20px;
  border-radius: 10px;
  width: 540px;
  align-items: center;

  h3 {
    text-align: center;
  }
}

.wifi-orange-icon {
  width: 22px;
  background: #ef8018;
  border-radius: 50%;
  padding: 6px;
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
  .settings-content {
    margin-top: 89px;
  }
  .orc-sidebar-set {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
  }
  .wifi-card-set {
    width: 380px;
  }

  .wifi-container-set {
    height: 480px;
  }
  .network-box-set {
    width: 320px;
    margin: 4px;
  }
  .settings-content .tab-btn-set {
    padding: 20px;
    border-radius: 7px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 28px;
  }

  .content-area-set ul li {
    font-size: 16px;
  }
  .wifi-list-set h4 {
    font-size: 20px;
  }
  .wifi-card-set h4 {
    font-size: 20px;
  }
  .wifi-card-set p {
    font-size: 20px;
  }
  .wifi-card-set label {
    margin-bottom: 2px;
    font-size: 18px;
  }
  .wifi-card-set .show-password-set .show-pass {
    font-size: 16px;
    margin: 0;
  }
  .wifi-card-set .btn-group-set .btn-set {
    padding: 15px 50px;
    font-size: 18px;
  }
  .orc-input-group input,
  .orc-input-group select {
    padding: 13px;
    margin: 5px;
    width: 47%;
    font-size: 20px;
    border-radius: 11px;
  }
  .orc-input-group {
    padding: 3px 7px;
  }
  .orc-input-group label {
    font-size: 20px;
  }
  .orc-save-btn {
    width: 45%;
    padding: 15px 0px;
    font-size: 22px;
  }
  .orc-settings-card {
    width: 730px;
  }
}
