@charset "UTF-8";
.switch-content-area {
  width: 750px;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.switch-button {
  color: #000;
  border: 1px solid #ccc;
  padding: 19px 113px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
}
.switch-button:hover {
  background-color: #f5f5f5;
}

.test-switch-content {
  display: flex;
  gap: 5px;
  margin-top: 80px;
  width: 800px;
}
.test-switch-content .switch-btn-test {
  padding: 18px 3px;
  border-radius: 7px;
  color: #000;
  font-weight: 600;
  margin: 3px 6px;
  font-size: large;
}

.test-sidebar-switch {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.switch-btn-test.active {
  background-color: #fff;
  font-weight: 700;
  border: 3px solid #ff6f00;
  color: #000;
}

.wifi-container-test {
  display: flex;
  border-radius: 10px;
  width: 100%;
}

.btn-group-test {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.network-box-test {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}
.network-box-test .network-header-test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  background: #f5f5f5;
  padding: 16px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 210px;
  text-align: left;
  margin-top: 6px;
}
.network-box-test .network-header-test .wifi-icon-test {
  display: flex;
  gap: 10px;
}
.network-box-test .network-header-test .wifi-icon-test img {
  width: 20px;
}
.network-box-test .wifi-list-test {
  display: none;
  background: #fff;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #000;
  font-weight: 500;
  border-bottom: 1px;
  font-size: 12px;
  padding: 5px 4px;
  max-height: 116px;
  overflow-y: auto;
}
.network-box-test .wifi-list-test .wifi-category-test {
  font-weight: bold;
  color: #1c2747;
  margin-bottom: 7px;
  margin-top: 6px;
  text-align: start;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}
.network-box-test .wifi-list-test .wifi-item-test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.3s;
  border-bottom: 1px solid #ddd;
}
.network-box-test .wifi-list-test .wifi-item-test:hover {
  background: #f0f0f0;
}
.network-box-test .wifi-list-test .wifi-item-test .wifi-name-test {
  display: flex;
  align-items: center;
  gap: 8px;
}
.network-box-test .wifi-list-test .wifi-item-test .wifi-icon-test {
  width: 15px;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
}
.popup-content h3 {
  font-size: 16px;
  color: #1c2747;
  margin-bottom: 0px;
  margin-top: 0px;
}
.popup-content input[type=password],
.popup-content #wifiPassword {
  width: 93%;
  padding: 12px 11px;
  margin-top: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: center;
  margin-right: 4px;
}
.popup-content .text-show-pass {
  color: #1b2746;
  display: flex;
  z-index: 25;
  margin-top: 10px;
}
.popup-content .popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.popup-content .popup-buttons .cancel-btn,
.popup-content .popup-buttons .join-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  min-width: 150px;
  min-height: 40px !important;
  background: #ef8018;
  color: white;
}

.wifi-icon-test {
  display: flex;
  gap: 10px;
}

.wifi-test-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}

.wifi-test-label {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.wifi-test-value {
  font-size: 14px;
  color: white;
}

.wifi-test-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.wifi-test-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 2px 0;
  border-bottom: 1px solid #ef742a;
}

.wifi-test-input {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

.wifi-test-btn {
  background: #ef742a;
  color: white;
  border: none;
  padding: 9px 45px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.wifi-test-btn:hover {
  background: #d65f1f;
}

.wifi-test-action .wifi-success {
  color: green;
  font-size: 14px;
}
.wifi-test-action .wifi-failed {
  color: red;
  font-size: 14px;
}

.ethernet-container-test {
  display: flex;
  gap: 15px;
  border-radius: 10px;
  width: 100%;
  margin-top: 14px;
  justify-content: space-between;
}

.ethernet-box-test {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  padding: 0px 13px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-top: 22px;
  margin-right: 2px;
  margin-left: 26px;
}
.ethernet-box-test .ethernet-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.ethernet-box-test .ethernet-text {
  font-size: 35px;
  font-weight: 100;
  color: white;
  text-align: center;
}
.ethernet-box-test .ethernet-header-test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-top: 17px;
}

.white-line-break {
  width: 98%;
  height: 2px;
  background-color: white;
  margin: 0px 0;
  opacity: 0.6;
  z-index: -1;
  position: relative;
}

.wifi-test-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3px 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ethernet-test-label {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.ethernet-test-value {
  font-size: 14px;
  color: white;
}

.ethernet-test-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}

.ethernet-test-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  padding: 2px 0;
  border-bottom: 1px solid #ef742a;
}

.ethernet-test-input {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

.ethernet-test-btn {
  background: #ef742a;
  color: white;
  border: none;
  padding: 11px 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.ethernet-test-btn:hover {
  background: #d65f1f;
}

.ethernet-test-action .ethernet-success {
  color: green;
  font-size: 14px;
}
.ethernet-test-action .ethernet-failed {
  color: red;
  font-size: 14px;
}

.ethernet-test-box {
  padding: 19px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}

.equipment-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
}

.equipment-test-card {
  background: #0b1734;
  padding: 5px 5px;
  border-radius: 10px;
  margin-right: 5px;
  min-height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.equipment-test-card .equipment-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}
.equipment-test-card .equipment-table thead tr th {
  text-align: left;
  padding: 1px;
  color: #ef8018;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.equipment-test-card .equipment-table tbody tr td {
  padding: 1px;
  color: #fff;
  font-size: 13px;
  border-bottom: 1px solid #ef742a;
  text-align: center;
}
.equipment-test-card .equipment-table tbody tr td:first-child {
  word-break: break-word;
  padding: 5px;
}
.equipment-test-card .equipment-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.equipment-test-card .equipment-actions .equipment-scan-btn,
.equipment-test-card .equipment-actions .equipment-update-btn {
  padding: 6px 28px;
  background-color: #ff7b00;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.equipment-test-card .equipment-actions .equipment-scan-btn:hover,
.equipment-test-card .equipment-actions .equipment-update-btn:hover {
  background-color: #e26f00;
}
.equipment-test-card .equipment-actions .equipment-scan-status {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  align-items: start;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.equipment-test-card .equipment-actions .equipment-scan-status .equipment-scan-btn {
  grid-row: 1/span 2;
}
.equipment-test-card .equipment-actions .equipment-scan-status .equipment-scan-success {
  grid-column: 2/3;
  grid-row: 1;
  color: #06b307;
  font-size: 14px;
}
.equipment-test-card .equipment-actions .equipment-scan-status .equipment-scan-failed {
  /* İkinci satır, sağ sütunda */
  grid-column: 2/3;
  grid-row: 2;
  color: #ff4040;
  font-size: 14px;
}

.equipment-table td:nth-child(3):contains("A / A"),
.equipment-table td:nth-child(4):contains("OK") {
  color: green !important;
}

.equipment-table td:nth-child(4):contains("No") {
  color: red !important;
}

.status-green {
  color: #06b307;
}

.status-red {
  color: #ff4040;
}

.cloud-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
}

.cloud-test-card {
  background: #0b1734;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  color: white;
  margin-top: 0px;
  width: 580px;
}

.cloud-test-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.cloud-test-table th,
.cloud-test-table td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #444;
  font-size: 13px;
}

.cloud-test-info {
  font-style: italic;
  text-align: right;
  opacity: 0.7;
  font-size: 14px;
}

/* Buton ve Yazıları Yan Yana Düzenleme */
.cloud-test-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cloud-test-button {
  background-color: #ef742a;
  color: white;
  padding: 13px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.cloud-test-button:hover {
  background-color: #d97720;
}

.cloud-test-status-text {
  display: flex;
  flex-direction: column;
}

.cloud-test-success {
  color: limegreen;
  margin: 2px 0px;
  padding: 0;
  font-size: 14px;
}

.cloud-test-failed {
  color: red;
  margin: 0;
  font-size: 14px;
}

.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-green {
  background-color: green;
}

.status-red {
  background-color: red;
}

.read-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  width: 580px;
}

.read-test-card {
  width: 100%;
  background: #0b1734;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  color: white;
  margin-top: 0px;
}

.read-test-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin-bottom: 0px;
}

.read-test-group {
  display: flex;
  flex-direction: column;
}
.read-test-group label {
  font-size: 14px;
  margin-bottom: 4px;
}
.read-test-group input {
  color: #757678;
  border: 1px solid #444;
  padding: 6px;
  border-radius: 5px;
  width: 90%;
}
.read-test-group select {
  color: #000;
  border: 1px solid #444;
  padding: 7px;
  border-radius: 5px;
  width: 90%;
}

.read-test-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.read-test-button {
  background-color: #ef742a;
  color: white;
  padding: 13px 48px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.read-test-button:hover {
  background-color: #d97720;
}

.read-test-status {
  display: flex;
  flex-direction: column;
}

.read-test-success {
  color: limegreen;
  margin: 2px 0;
  padding: 0;
  font-size: 14px;
}

.read-test-failed {
  color: red;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.read-test-terminal {
  margin-top: 8px;
}
.read-test-terminal label {
  display: block;
  margin-bottom: 1px;
}
.read-test-terminal textarea {
  color: white;
  padding: 8px;
  border-radius: 5px;
  width: 97%;
  height: 60px;
  resize: none;
  color: #000;
}

.write-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  width: 580px;
}

.write-test-card {
  background: #0b1734;
  padding: 9px;
  border-radius: 10px;
  align-items: center;
  color: white;
  margin-top: 0px;
  width: 100%;
}

.write-test-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin-bottom: 0px;
}

.write-test-group {
  display: flex;
  flex-direction: column;
}
.write-test-group label {
  font-size: 14px;
  margin-bottom: 3px;
}
.write-test-group input {
  color: #757678;
  border: 1px solid #444;
  padding: 7px;
  border-radius: 5px;
  width: 90%;
}
.write-test-group select {
  color: #000;
  border: 1px solid #444;
  padding: 7px;
  border-radius: 5px;
  width: 90%;
}

.write-test-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.write-test-button {
  background-color: #ef742a;
  color: white;
  padding: 12px 46px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.write-test-button:hover {
  background-color: #d97720;
}

.write-test-status {
  display: flex;
  flex-direction: column;
}

.write-test-success {
  color: limegreen;
  margin: 2px 0;
  padding: 0;
  font-size: 14px;
}

.write-test-failed {
  color: red;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.write-test-terminal {
  margin-top: 6px;
}
.write-test-terminal label {
  display: block;
  margin-bottom: 0px;
}
.write-test-terminal textarea {
  color: #000;
  border: 1px solid #444;
  padding: 8px;
  border-radius: 5px;
  width: 97%;
  height: 60px;
  resize: none;
}

.empty-message {
  text-align: center;
  color: red;
  font-size: 14px;
  padding: 10px;
}/*# sourceMappingURL=test.css.map */