.switch-content-area {
  width: 750px;
}

// switch-styles.scss
.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.switch-button {
  color: #fff;
  padding: 19px 113px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid #0b1734;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0b1734;

  &:hover {
    background-color: #091531;
    color: #fff;
  }
}

// Test
.test-switch-content {
  display: flex;
  gap: 5px;
  margin-top: 80px;
  width: 800px;

  .switch-btn-test {
    padding: 18px 3px;
    border-radius: 7px;
    color: #000;
    font-weight: 600;
    margin: 3px 6px;
    font-size: large;
  }
}
.test-sidebar-switch {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.switch-btn-test.active {
  background-color: #fff;
  font-weight: 700;
  border: 3px solid #ff6f00;
  color: #000;
}

// Wi _ Fi Test
.wifi-container-test {
  display: flex;
  border-radius: 10px;
  width: 98%;
  gap: 10px;
}

.btn-group-test {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

// <!-- Available Wi-Fi -->
.network-box-test {
  width: 250px;
  border-radius: 10px;
  font-family: Arial, sans-serif;

  .network-header-test {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 231px;
    text-align: left;

    .wifi-icon-test {
      display: flex;
      gap: 10px;

      img {
        width: 30px;
      }
    }
  }

  .wifi-list-test {
    display: none;
    background: #fff;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    font-weight: 500;
    border-bottom: 1px;
    font-size: 12px;
    padding: 5px 4px;
    max-height: 116px;
    overflow-y: auto;

    .wifi-category-test {
      font-weight: 600;
      color: #1c2747;
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .wifi-item-test {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: background 0.3s;
      border-bottom: 1px solid #ddd;

      &:hover {
        background: #f0f0f0;
      }

      .wifi-name-test {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .wifi-icon-test {
        width: 15px;
      }
    }
  }
}

// Wi Fi password Pop Up Start
.popup-overlay {
  display: none; // İlk başta kesinlikle gizli!
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;

  h3 {
    font-size: 16px;
    color: #1c2747;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  input[type="password"],
  #wifiPassword {
    width: 93%;
    padding: 12px 11px;
    margin-top: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    margin-right: 4px;
  }

  .text-show-pass {
    color: #1b2746;
    display: flex;
    z-index: 25;
    margin-top: 10px;
  }

  .popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .cancel-btn,
    .join-btn {
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      min-width: 150px;
      min-height: 40px !important;
      background: #ef8018;
      color: white;
    }
  }
}

// Wi Fi password Pop Up End
.wifi-icon-test {
  display: flex;
  gap: 10px;
}

// Wi-Fi Test Paneli
.wifi-test-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}

// Etiketler
.wifi-test-label {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
// Değerler (Sağ Taraf)
.wifi-test-value {
  font-size: 14px;
  color: white;
}
// Test Butonu ve Bağlantı Durumu
.wifi-test-action {
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

// Satırları Yan Yana Getirme (Justify Between)
.wifi-test-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  padding: 2px 0;
}

.wifi-test-head {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding: 2px 0;
  gap: 8px;
}

// Input Alanları
.wifi-test-input {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

// Test Butonu
.wifi-test-btn {
  background: #ef8018;
  color: white;
  border: none;
  padding: 9px 45px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;

  &:hover {
    background: #d65f1f;
  }
}

.wifi-test-action {
  .wifi-success {
    color: green;
    font-size: 14px;
  }

  .wifi-failed {
    color: red;
    font-size: 14px;
  }
}

// Ethernet Test Paneli
.ethernet-container-test {
  gap: 15px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

.ethernet-box-test {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  padding: 0px 13px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-top: 22px;
  margin-right: 2px;
  margin-left: 26px;

  .ethernet-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  // Ethernet Yazısı
  .ethernet-text {
    font-size: 35px;
    font-weight: 100;
    color: white;
    text-align: center;
  }

  .ethernet-header-test {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    padding: 14px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin-top: 17px;
  }
}
// Wi-Fi ve Ethernet bölümleri arasındaki beyaz çizgi
.white-line-break {
  width: 98%;
  height: 2px;
  background-color: white;
  margin: 0px 0;
  opacity: 0.6;
  z-index: -1;
  position: relative;
}

// Wi-Fi Test Paneli
.wifi-test-box {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 3px 12px;
  border-radius: 10px;
  border: 1px solid #ef8018;
  background-color: #0b1734;
}

// Etiketler
.ethernet-test-label {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
// Değerler (Sağ Taraf)
.ethernet-test-value {
  font-size: 14px;
  color: white;
}
// Test Butonu ve Bağlantı Durumu
.ethernet-test-action {
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}
// Satırları Yan Yana Getirme (Justify Between)
.ethernet-test-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  padding: 2px 0;
}

// Input Alanları
.ethernet-test-input {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

// Test Butonu
.ethernet-test-btn {
  background: #ef8018;
  color: white;
  border: none;
  padding: 11px 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background: #d65f1f;
  }
}
.ethernet-test-action {
  .ethernet-success {
    color: green;
    font-size: 14px;
  }

  .ethernet-failed {
    color: red;
    font-size: 14px;
  }
}

.ethernet-test-box {
  padding: 19px;
  display: flex;
  flex-direction: column;
  width: 51%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ef8018;
  background-color: #0b1734;
}

// EQUIPMENT TEST PANEL START //
.equipment-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  flex-direction: column;
}

.equipment-test-card {
  background: #0b1734;
  padding: 4px 4px;
  border-radius: 10px;
  margin-right: 9px;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;

  .equipment-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;

    thead {
      position: sticky;
      top: 0;
      background: #0b1734;
      z-index: 2;
      tr {
        th {
          text-align: left;
          padding: 1px;
          color: #ef8018;
          font-weight: 500;
          font-size: 14px;
          border-bottom: 1px solid #fff;
          text-align: center;
        }
      }
    }

    tbody {
      display: block;
      max-height: 235px;
      overflow-y: auto;
      width: 100%;
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tbody {
      tr {
        td {
          padding: 1px;
          color: #fff;
          font-size: 13px;
          border-bottom: 1px solid #ef742a;
          text-align: center;

          &:first-child {
            word-break: break-word;
            padding: 5px;
          }
        }
      }
    }
  }

  .equipment-actions {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .equipment-scan-btn{
      padding: 6px 28px;
      background-color: #ff7b00;
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        background-color: #e26f00;
      }
    }

    .equipment-scan-status {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-auto-rows: auto;
      align-items: start;
      -moz-column-gap: 10px;
      column-gap: 10px;

      .equipment-scan-btn {
        grid-row: 1 / span 2;
      }

      .equipment-scan-success {
        grid-column: 2 / 3;
        grid-row: 1;
        color: #06b307;
        font-size: 14px;
      }

      .equipment-scan-failed {
        /* İkinci satır, sağ sütunda */
        grid-column: 2 / 3;
        grid-row: 2;
        color: #ff4040;
        font-size: 14px;
      }
    }
  }
}

.equipment-table td:nth-child(3):contains("A / A"),
.equipment-table td:nth-child(4):contains("OK") {
  color: green !important;
}

.equipment-table td:nth-child(4):contains("No") {
  color: red !important;
}

.status-green {
  color: #06b307;
}
.status-red {
  color: #ff4040;
}

// CLOUD TEST PANEL START //
.cloud-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
}

.cloud-test-card {
  background: #0b1734;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  color: white;
  margin-top: 0px;
  width: 580px;
}

.cloud-test-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;

  th,
  td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #444;
    font-size: 13px;
  }
}

.cloud-test-info {
  font-style: italic;
  text-align: right;
  opacity: 0.7;
  font-size: 14px;
}

/* Buton ve Yazıları Yan Yana Düzenleme */
.cloud-test-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cloud-test-button {
  background-color: #ef742a;
  color: white;
  padding: 13px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background-color: #d97720;
  }
}

.cloud-test-status-text {
  display: flex;
  flex-direction: column;
}

.cloud-test-success {
  color: limegreen;
  margin: 2px 0px;
  padding: 0;
  font-size: 14px;
}

.cloud-test-failed {
  color: red;
  margin: 0;
  font-size: 14px;
}
.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-green {
  background-color: green;
}
.status-red {
  background-color: red;
}

// READ TEST PANEL START //
.read-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  width: 580px;
}

.read-test-card {
  width: 100%;
  background: #0b1734;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  color: white;
  margin-top: 0px;
}

.read-test-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin-bottom: 0px;
}

.read-test-group {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  input {
    border: 1px solid #444;
    padding: 6px;
    border-radius: 5px;
    width: 83%;
    color: #000;
  }

  select {
    color: #000;
    border: 1px solid #444;
    padding: 7px;
    border-radius: 5px;
    width: 90%;
  }
}

.read-test-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.read-test-button {
  background-color: #ef742a;
  color: white;
  padding: 13px 48px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: #d97720;
  }
}

.read-test-status {
  display: flex;
  flex-direction: column;
}

.read-test-success {
  color: limegreen;
  margin: 2px 0;
  padding: 0;
  font-size: 14px;
}

.read-test-failed {
  color: red;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.read-test-terminal {
  margin-top: 8px;

  label {
    display: block;
    margin-bottom: 1px;
  }

  textarea {
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 97%;
    height: 60px;
    resize: none;
    color: #000;
  }
}

// WRİTE TEST PANEL START //
.write-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  width: 580px;
}

.write-test-card {
  background: #0b1734;
  padding: 9px;
  border-radius: 10px;
  align-items: center;
  color: white;
  margin-top: 0px;
  width: 100%;
}

.write-test-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin-bottom: 0px;
}

.write-test-group {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    margin-bottom: 3px;
  }

  input {
    color: #000;
    border: 1px solid #444;
    padding: 7px;
    border-radius: 5px;
    width: 83%;
  }
  select {
    color: #000;
    border: 1px solid #444;
    padding: 7px;
    border-radius: 5px;
    width: 90%;
  }
}

.write-test-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.write-test-button {
  background-color: #ef742a;
  color: white;
  padding: 12px 46px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: #d97720;
  }
}

.write-test-status {
  display: flex;
  flex-direction: column;
}

.write-test-success {
  color: limegreen;
  margin: 2px 0;
  padding: 0;
  font-size: 14px;
}

.write-test-failed {
  color: red;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.write-test-terminal {
  margin-top: 6px;

  label {
    display: block;
    margin-bottom: 0px;
  }

  textarea {
    color: #000;
    border: 1px solid #444;
    padding: 8px;
    border-radius: 5px;
    width: 97%;
    height: 60px;
    resize: none;
  }
}

.empty-message {
  text-align: center;
  color: red;
  font-size: 14px;
  padding: 10px;
}

.orange-text {
  color: #ef8018;
  font-size: 14px;
  font-weight: bold;
}


.close-equipment-modal{
    background-color: #EF8018;
    color: white;
    padding: 13px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
}