{% extends "layout.html" %} {% block title %} {{ _('ORC Settings')}} {% endblock
%} {% block content %}
<!-- Header -->
{% include 'partials/header.html' %}
<!-- Virtual Keyboard -->
<div id="keyboard-container" class="simple-keyboard"></div>

<!-- Yeni İçerik (İlk başta gizli olacak) -->
<div class="settings-content">
  <div class="orc-sidebar-set">
    <button class="tab-btn-set" data-target="wifi-set">
      {{ _('Wi-fi Settings')}}
    </button>
    <button class="tab-btn-set" data-target="lora-set" disabled>
      {{ _('LoRa Settings')}}
    </button>
    <!--
    <button class="tab-btn-set" data-target="eth-set" disabled>
      {{ _('Ethernet Settings')}}
    </button>
    -->
    <button class="tab-btn-set" data-target="gsm-set" disabled>
      {{ _('GSM Settings')}}
    </button>
    <button class="tab-btn-set" data-target="orc-set">
      {{ _('ORC Settings')}}
    </button>
  </div>

  <div class="content-area-set">
    <!-- Wi-Fi Set -->
    <div id="wifi-set" class="tab-content-set">
      <div class="wifi-container-set">
        <!-- Wi-Fi Password Form -->
        <div class="wifi-connection-set">
          <!-- Connected Wi-Fi -->
          <div class="wifi-card-set ssid-cover connected">
            <h4>
              <img
                src="{{ url_for('static', filename='images/svg/41.svg') }}"
                alt="No Wi-Fi"
                class="wifi-orange-icon"
              />
              {{ _('Connected')}}
            </h4>
            <div class="wifi-info-set">
              <span id="connected-wifi">{{ _('Not Connected')}}</span>
            </div>
          </div>

          <div
            class="wifi-card-set bg-white"
            id="wifi-password-form"
            style="display: none"
          >
            <div class="wifi-icon-set">
              <img
                src="{{ url_for('static', filename='images/svg/12.svg') }}"
                alt="No Wi-Fi"
              />
              <p id="wifi-ssid">
                {{ _('Wi-Fi SSID:')}} <span>{{ _('Not Connected')}}</span>
              </p>
            </div>
            <div class="password-intput-set">
              <label>{{ _('Password:')}}</label>
              <input type="password" id="wifi-password" />
            </div>
            <div class="show-password-set">
              <input type="checkbox" id="showPass" class="check-box-set" />
              <label for="showPass" class="show-pass"
                >{{ _('Show Password')}}</label
              >
            </div>
            <div class="btn-group-set">
              <button class="btn-set cancel-set">{{ _('Cancel')}}</button>
              <button class="btn-set connec-set" id="connect-btn">
                {{ _('Connect')}}
              </button>
            </div>
          </div>
        </div>
        <!-- Available Wi-Fi -->
        <div class="network-box-set">
          <div id="wifi-list" class="wifi-list-set">
            <h4 style="margin: 6px 0 5px 0px; padding: 0; padding: 0 20px">
              {{ _('Available Wi-Fi')}}
            </h4>
            <div class="available-wifi-underline"></div>
            <ul id="wifi-networks">
              <!-- Buraya dinamik Wi-Fi listesi gelecek -->
              <li class="wifi-loading"><span>Yükleniyor...</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- LoRa Set -->
    <div id="lora-set" class="lora-settings-container" style="display: none">
      <div class="lora-settings-card">
        <h3>{{ _('LoRa Settings')}}</h3>
      </div>
    </div>

    <!-- !! Ethernet Set Yeni versiyonda Kaldırıldı !! -->
    <!--  <div id="eth-set" class="eth-settings-container" style="display: none">
      <div class="eth-settings-card">
        <h3>{{ _('Ethernet Settings')}}</h3>
      </div>
    </div> 
    -->

    <!-- GSM Set -->
    <div id="gsm-set" class="gsm-settings-container" style="display: none">
      <div class="gsm-settings-card">
        <h3>{{ _('GSM Settings')}}</h3>
      </div>
    </div>

    <!-- ORC Set -->
    <div id="orc-set" class="orc-settings-container" style="display: none">
      <div class="orc-settings-card">
        <div class="orc-input-group">
          <label>{{ _('Modem Name')}}</label>
          <input type="text" placeholder="{{ _('Modem Name')}}" />
        </div>

        <div class="orc-input-group">
          <label>{{ _('Connection Type')}}</label>
          <select id="networkTypeSelect">
            <option value="1">{{ _('Wi-Fi')}}</option>
            <option value="2">{{ _('GSM')}}</option>
          </select>
        </div>

        <div class="orc-input-group">
          <label>{{ _('SSID')}}</label>
          <input type="text" placeholder="{{ _('SSID')}}" />
        </div>

        <div class="orc-input-group">
          <label>{{ _('Password')}}</label>
          <input type="text" placeholder="{{ _('Password')}}" />
        </div>

        <div class="orc-input-group">
          <label>{{ _('GSM Number')}}</label>
          <input type="text" placeholder="{{ _('GSM Number')}}" />
        </div>

        <button class="orc-save-btn" id="saveButton">{{ _('Save')}}</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabButtons = document.querySelectorAll(".tab-btn-set");
    const tabContents = document.querySelectorAll(".content-area-set > div");

    tabButtons.forEach((button) => {
      button.addEventListener("click", function () {
        const targetId = this.getAttribute("data-target");

        tabContents.forEach((content) => (content.style.display = "none"));
        tabButtons.forEach((btn) => btn.classList.remove("active"));

        this.classList.add("active");

        const targetElement = document.getElementById(targetId);
        if (targetElement) {
          targetElement.style.display = "block";
        }
      });
    });

    if (tabButtons.length > 0) {
      tabButtons[0].click();
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    const wifiListElement = document.getElementById("wifi-networks");
    const wifiPasswordInput = document.getElementById("wifi-password");
    const wifiSSIDElement = document
      .getElementById("wifi-ssid")
      .querySelector("span");
    const connectedWifiSpan = document.getElementById("connected-wifi");
    const connectButton = document.getElementById("connect-btn");
    const showPasswordCheckbox = document.getElementById("showPass");
    let selectedSSID = null;

    const wifiPasswordForm = document.getElementById("wifi-password-form");
    const cancelButton = document.querySelector(".cancel-set");

    function fetchWifiNetworks() {
      // 📌 Loading ekranını göster
      showLoading("{{ _('Wi-Fi networks are loading...') }}");

      fetch("/wi-fi-list", { method: "POST" })
        .then((response) => response.json())
        .then((data) => {
          if (data.status !== "success") {
            wifiListElement.innerHTML = `<p style='color: red;'>${data.message}</p>`;
            return;
          }

          let networks = data.data.wifi_networks || [];
          const connectedSSID = data.data.connected_ssid || null;
          const connectedPassword = data.data.wifi_password || "";

          let wifiHTML = "";

          if (connectedSSID) {
            networks = networks.filter((ssid) => ssid !== connectedSSID);
            networks.unshift(connectedSSID);
          }

          networks.forEach((ssid) => {
            const isConnected = ssid === connectedSSID ? "wifi-connected" : "";
            wifiHTML += `
                      <li onclick="selectWifi('${ssid}')" class="${isConnected}">
                          <img src="/static/images/svg/25.svg" alt="Wi-Fi"/>
                          <span>${ssid}</span>
                          <img src="/static/images/svg/26.svg" alt="Lock"/>
                      </li>`;
          });

          wifiListElement.innerHTML = wifiHTML;

          if (connectedSSID) {
            selectedSSID = connectedSSID;
            wifiSSIDElement.innerText = connectedSSID;
            connectedWifiSpan.innerText = `SSID: ${connectedSSID}`;
            wifiPasswordInput.value = connectedPassword;
          } else {
            connectedWifiSpan.innerText = `{{ _('No Wi-Fi Connection') }}`;
          }
        })
        .catch((error) => {
          wifiListElement.innerHTML =
            "<p style='color: red;'>{{ _('Wi-Fi information could not be retrieved.') }}</p>";
          showErrorAlert(
            "{{ _('An issue occurred while retrieving Wi-Fi information.') }}"
          );
        })
        .finally(() => {
          hideLoading();
        });
    }

    window.selectWifi = function (ssid) {
      selectedSSID = ssid;
      wifiSSIDElement.innerText = ssid;
      wifiPasswordInput.value = "";
      wifiPasswordForm.style.display = "block";
    };

    cancelButton.addEventListener("click", function () {
      wifiPasswordForm.style.display = "none"; // Formu gizle
      selectedSSID = null;
      wifiSSIDElement.innerText = "{{ _('Not Connected') }}";
      wifiPasswordInput.value = "";
    });

    // Şifreyi göster/gizle
    showPasswordCheckbox.addEventListener("change", function () {
      wifiPasswordInput.type = this.checked ? "text" : "password";
    });

    // Wi-Fi ağına bağlan
    connectButton.addEventListener("click", function () {
      if (!selectedSSID) {
        showWarningAlert("{{ _('Please select a Wi-Fi network.') }}");
        return;
      }

      const password = wifiPasswordInput.value;
      if (!password) {
        showWarningAlert("{{ _('Please enter the password first.') }}");
        return;
      }

      connectButton.disabled = true;
      // connectButton.innerHTML = `<span class="spinner"></span> Bağlanılıyor...`;

      showLoading("{{ _('Connecting to the Wi-Fi network...') }}");

      fetch("/connect_wifi", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ ssid: selectedSSID, password: password }),
      })
        .then((response) => response.json())
        .then((data) => {
          hideLoading();
          if (data.status === "success") {
            showSuccessAlert(
              `{{ _('Wi-Fi connection successful:') }} ${selectedSSID}`
            );
            connectedWifiSpan.innerText = `SSID: ${selectedSSID}`;
            wifiPasswordForm.style.display = "none";
            fetchWifiNetworks();
          } else {
            showErrorAlert("{{ _('Connection failed, please try again.') }}");
          }
        })
        .catch((error) => {
          hideLoading();
          console.error("{{ _('Wi-Fi connection error!') }}");
          showErrorAlert(
            "{{ _('An error occurred during the Wi-Fi connection.') }}"
          );
        })
        .finally(() => {
          connectButton.disabled = false;
          connectButton.innerHTML = "{{ _('Connect') }}";
        });
    });

    fetchWifiNetworks();
  });

  // Modem bilgisi çek ve edit etme işlemleri
  document.addEventListener("DOMContentLoaded", function () {
    const modemNameInput = document.querySelector(
      "#orc-set input[placeholder='{{ _('Modem Name')}}']"
    );
    const networkTypeSelect = document.getElementById("networkTypeSelect");
    const ssidInput = document.querySelector(
      "#orc-set input[placeholder='{{ _('SSID')}}']"
    );
    const passwordInput = document.querySelector(
      "#orc-set input[placeholder='{{ _('Password')}}']"
    );
    const gsmNumberInput = document.querySelector(
      "#orc-set input[placeholder='{{ _('GSM Number')}}']"
    );

    function fetchModemInfo() {
      fetch("/get_modem_info")
        .then((response) => response.json())
        .then((data) => {
          if (data.status === "success") {
            const modem = data.data;

            modemNameInput.value = modem.name?.trim() || "";
            networkTypeSelect.value = modem.network_type_id || "1";
            ssidInput.value = modem.network_ssid?.trim() || "";
            passwordInput.value = modem.network_password?.trim() || "";
            gsmNumberInput.value = modem.gsm_number?.trim() || "";
          } else {
            showErrorAlert("{{ _('Modem info not loaded!') }}", data.message);
          }
        })
        .catch((error) => {
          showErrorAlert(
            "{{ _('Error while fetching modem information!') }}",
            error.message
          );
        });
    }

    document
      .getElementById("saveButton")
      .addEventListener("click", function () {
        const modemData = {
          name: modemNameInput.value,
          network_type_id: parseInt(networkTypeSelect.value),
          wifi_ssid: ssidInput.value,
          wifi_password: passwordInput.value,
          gsm_number: gsmNumberInput.value,
        };

        // Boş Alan Kontrolü
        if (
          !modemData.name ||
          !modemData.wifi_ssid ||
          !modemData.wifi_password ||
          !modemData.gsm_number
        ) {
          showWarningAlert(
            "{{ _('Please fill out all fields. Some fields are left empty.') }}"
          );
          return;
        }

        showLoading("{{ _('Modem information is being updated...') }}");

        fetch("/update_modem_info", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(modemData),
          })
          .then((response) => response.json())
          .then((data) => {
            hideLoading();
            if (data.status === "success") {
              showSuccessAlert("{{ _('Modem updated successfully!') }}");
            } else {
              showErrorAlert("{{ _('Error!') }}");
            }
          })
          .catch((error) => {
            hideLoading();
            showErrorAlert("{{ _('You entered the wrong password!') }}");
          });
        });

    fetchModemInfo();
  });
  
</script>

<style>
  .wifi-connected span {
    color: green;
    font-weight: bold;
  }

  .spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-right: 5px;
    vertical-align: middle;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .small-swal-popup {
    font-size: 14px !important;
    padding: 13px !important;
    max-width: 370px !important;
  }

  .swal2-title {
    font-size: 18px !important;
    color: #0b1734 !important;
  }

  .swal2-content {
    font-size: 14px !important;
  }
  div:where(.swal2-actions) button.swal2-confirm {
    background-color: #ef742a !important;
    color: white !important;
    width: 150px !important;
  }

  .btn-cancel {
    background-color: #6c757d !important; /* Grey button */
    color: white !important;
  }

  div:where(.swal2-icon) .swal2-icon-content {
    display: flex !important;
    align-items: center !important;
    font-size: 3em !important;
  }

  div:where(.swal2-icon) {
    width: 3.5em !important;
    height: 3.5em !important;
    margin: 0.6em auto 0.6em !important;
  }
  div:where(.swal2-container) div:where(.swal2-html-container) {
    color: #0b1734 !important;
    font-weight: 600 !important;
  }
</style>
{% endblock %}
