{% extends "layout.html" %}
{% block title %} Settings {% endblock %}

{% block content %}

<!-- Header -->
{% include 'partials/header.html' %}
<div class="main-set-container">
    <div class="main-set-buttons">
        <button class="main-set-btn active" data-url="{{url_for('orc_settings')}}">ORC Settings</button>
        <button class="main-set-btn" data-url="{{url_for('osos_settings')}}">OSOS Settings</button>
        <button class="main-set-btn" data-url="{{url_for('equipment_settings')}}">Equipment Settings</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".main-set-btn");

        buttons.forEach((button) => {
            button.addEventListener("click", function () {
                buttons.forEach((btn) => btn.classList.remove("active"));

                this.classList.add("active");

                const url = this.getAttribute("data-url");
                if (url) {
                    window.location.href = url; 
                }
            });
        });

        const currentPath = window.location.pathname;
        buttons.forEach((button) => {
            if (button.getAttribute("data-url") === currentPath) {
                button.classList.add("active");
            }
        });
    });
</script>
{% endblock %}
