{% extends "layout.html" %} {% block title %} Alarm {% endblock %} {% block
extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/alarm.css') }}"
/>
{% endblock %} {% block content %}

<!-- Header -->
{% include 'partials/header.html' %}

<div class="alarm-container">
  <div class="alarm-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Modem - Mac</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="alarm-error"><a href="#">Cannot Retrieve CPU Value</a></td>
          <td>Network</td>
          <td class="alarm-mac">00:00:5e:00:53:af</td>
          <td>2023-04-05 11:20</td>
        </tr>
        <tr>
          <td class="alarm-error"><a href="#">Cannot Retrieve RAM Value</a></td>
          <td>Network</td>
          <td class="alarm-mac">00:00:5e:00:53:af</td>
          <td>2023-04-05 11:20</td>
        </tr>
        <tr>
          <td class="alarm-error"><a href="#">Cannot Retrieve RAM Value</a></td>
          <td>Network</td>
          <td class="alarm-mac">00:00:5e:00:53:af</td>
          <td>2023-04-05 11:20</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
