{% extends "layout.html" %} {% block title %} ORC 24 Dashboard {% endblock
title%} {% block content %}

<header class="header">
  <div class="header-left">
    <form action="{{ url_for('logout') }}" method="POST">
      <button type="submit" class="header-button-logout">
        <img
          src="{{ url_for('static', filename='images/svg/37.svg') }}"
          alt="Logout"
          width="40"
          height="40"
          style="padding: 0px 0px; border-radius: 5px"
        />
      </button>
    </form>

    <!-- Menu butonunu modem-selection sayfasına yönlendirme -->
    <form action="{{ url_for('modem_selection') }}" method="GET">
      <button type="submit" class="header-button">
        {{ _('Menu') }}
        <img
          src="{{ url_for('static', filename='images/svg/18.svg') }}"
          alt="Logout"
          width="20"
          height="20"
          style="padding: 12px 12px; background: #0b1734; border-radius: 5px"
        />
      </button>
    </form>
  </div>

  <!-- Alarm icon -->
  <div class="alarm-icon-container">
    <button class="alarm-button">
      <img
        src="{{ url_for('static', filename='images/svg/32.svg') }}"
        alt="Alarm"
        width="32"
        height="32"
      />
    </button>
    <span class="alarm-badge">0</span>
  </div>

  <div class="header-logo">
    <img
      src="{{ url_for('static', filename='images/logos/logo-02.png') }}"
      alt="Pier MTTP Logo"
      class="logo"
    />
  </div>

  <div class="header-right-dashboard">
    <div class="date-time" id="current-date-time">Loading...</div>
    <div class="report-line">
      <div class="line"></div>
    </div>
    <div class="report-date" id="report-date">
      <span style="color: #6384d1">{{ _('Report Date') }}:</span> Loading...
    </div>
  </div>
</header>

<!-- Ana Tablo -->
<section class="dashboard">
  <div class="energy-table">
    <div class="energy-header">
      <div>{{ _('Energy Drawn From The Grid') }}</div>
      <div style="margin-right: 79px">{{ _('Generated Energy') }}</div>
      <div>{{ _('Consumed Energy') }}</div>
    </div>
    <div class="energy-row">
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/08.svg') }}"
          alt="Energy"
        />
        80.158,68 kWh
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/08.svg') }}"
          alt="Energy"
        />
        80.158,68 kWh
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/08.svg') }}"
          alt="Energy"
        />
        80.158,68 kWh
      </div>
    </div>

    <div class="energy-row">
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/09.svg') }}"
          alt="Industry"
        />
        80.158,68 TEP
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/09.svg') }}"
          alt="Industry"
        />
        80.158,68 TEP
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/09.svg') }}"
          alt="Industry"
        />
        80.158,68 TEP
      </div>
    </div>

    <div class="energy-row">
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/10.svg') }}"
          alt="Cloud"
        />
        80.158,68 Ton
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/10.svg') }}"
          alt="Cloud"
        />
        80.158,68 Ton
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/10.svg') }}"
          alt="Cloud"
        />
        80.158,68 Ton
      </div>
    </div>
  </div>

  <div class="device-status">
    <div class="system-info">
      <div class="info-box power">
        <img
          src="{{ url_for('static', filename='images/svg/07.svg') }}"
          alt="Güç"
        />
        {{ _('Güç') }}
      </div>
      <div class="info-box active">
        <img
          src="{{ url_for('static', filename='images/svg/04.svg') }}"
          alt="Aktif"
        />
        {{ _('Aktif') }}
      </div>
      <div class="info-box harmonic">
        <img
          src="{{ url_for('static', filename='images/svg/03.svg') }}"
          alt="Harmonik"
        />
        {{ _('Harmonik') }}
      </div>
      <div class="info-box">
        <img
          src="{{ url_for('static', filename='images/svg/02.svg') }}"
          alt="Reaktif Güç"
        />
        {{ _('Reaktif Güç') }}
      </div>
      <div class="info-box">
        <img
          src="{{ url_for('static', filename='images/svg/05.svg') }}"
          alt="Gerilim"
        />
        {{ _('Gerilim') }}
      </div>
      <div class="info-box">
        <img
          src="{{ url_for('static', filename='images/svg/35.svg') }}"
          alt="Network"
        />
        {{ _('Network') }}
      </div>
    </div>

    <div class="dashboard-container">
      <div class="gauge-container">
        <div class="gauge">
          <div class="gauge-circle frequency">
            <div class="gauge-ring"></div>
            <span>50,04</span>
            <p>Frekans</p>
            <p style="margin: 2px">(Hz)</p>
          </div>
        </div>

        <div class="gauge">
          <div class="gauge-border">
            <div class="gauge-circle reactive">
              <span>{{ _('Reaktif Cezada') }}</span>
              <p>{{ _('Değil') }}</p>
            </div>
          </div>
        </div>

        <div class="gauge">
          <div class="gauge-circle power-factor">
            <span>{{ _('Güç Faktörü') }}</span>
            <p>%87,45</p>
          </div>
        </div>
      </div>

      <div class="voltage-table">
        <div class="voltage-box">
          <span class="icon">
            <img
              src="{{ url_for('static', filename='images/svg/33.svg') }}"
              alt="Voltage"
            />
          </span>
          <span class="value">220 V</span>
          <span class="phase">V1-N</span>
        </div>
        <div class="voltage-box">
          <span class="icon">
            <img
              src="{{ url_for('static', filename='images/svg/33.svg') }}"
              alt="Voltage"
            />
          </span>
          <span class="value">220 V</span>
          <span class="phase">V2-N</span>
        </div>
        <div class="voltage-box">
          <span class="icon">
            <img
              src="{{ url_for('static', filename='images/svg/33.svg') }}"
              alt="Voltage"
            />
          </span>
          <span class="value">220 V</span>
          <span class="phase">V3-N</span>
        </div>
      </div>

      <div class="voltage-table">
        <div class="voltage-box">
          <span class="icon">
            <img
              src="{{ url_for('static', filename='images/svg/34.svg') }}"
              alt="Current"
            />
          </span>
          <span class="value">300 A</span>
          <span class="phase">I1-N</span>
        </div>
        <div class="voltage-box">
          <span class="icon">
            <img
              src="{{ url_for('static', filename='images/svg/34.svg') }}"
              alt="Current"
            />
          </span>
          <span class="value">250 A</span>
          <span class="phase">I2-N</span>
        </div>
        <div class="voltage-box">
          <span class="icon">
            <img
              src="{{ url_for('static', filename='images/svg/34.svg') }}"
              alt="Current"
            />
          </span>
          <span class="value">220 A</span>
          <span class="phase">I3-N</span>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function updateDateTime() {
      const userLang = document.body.dataset.lang || "en"; // HTML'den alınan aktif dil

      const now = new Date();
      const monthShort = now
        .toLocaleString(userLang, { month: "long" })
        .substring(0, 5);
      const formattedDateTime = `${monthShort} ${now.getDate()}, ${now.getFullYear()}, ${now.getHours()}:${now
        .getMinutes()
        .toString()
        .padStart(2, "0")}`;
      document.getElementById("current-date-time").innerText =
        formattedDateTime;

      const lastMonth = new Date();
      lastMonth.setDate(lastMonth.getDate() - 30);

      const reportStartMonth = lastMonth
        .toLocaleString(userLang, { month: "long" })
        .substring(0, 5);
      const reportEndMonth = now
        .toLocaleString(userLang, { month: "long" })
        .substring(0, 5);

      const reportStart = `${reportStartMonth} ${lastMonth.getDate()}`;
      const reportEnd = `${reportEndMonth} ${now.getDate()}`;

      const reportDateEl = document.getElementById("report-date");
      reportDateEl.innerHTML = `<span style="color: #6384D1;">{{ _('Report Date') }}:</span> ${reportStart} - ${reportEnd}`;
    }

    updateDateTime();
    setInterval(updateDateTime, 60000);
  });
</script>
{% endblock content %}
