{% extends "layout.html" %} {% block title %} ORC 24 Dashboard {% endblock
title%} {% block content %}
<!-- Echarts -->
<script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
<header class="header">
  <div class="header-left">
    <form action="{{ url_for('logout') }}" method="POST" id="logout-form">
      <button type="button" class="header-button-logout" id="logout-button">
        <img
          src="{{ url_for('static', filename='images/svg/37.svg') }}"
          alt="Logout"
          width="40"
          height="40"
          style="padding: 0px 0px; border-radius: 5px"
        />
      </button>
    </form>

    <!-- Menu butonunu modem-selection sayfasına yönlendirme -->
    <form action="{{ url_for('modem_selection') }}" method="GET">
      <button type="submit" class="header-button" style="gap: 0">
        <img
          src="{{ url_for('static', filename='images/svg/39.svg') }}"
          alt="Logout"
          width="30"
          height="30"
          style="padding: 0px 0px; border-radius: 5px"
        />
        <span style="padding: 14px 13px">{{ _('Modems') }}</span>
      </button>
    </form>
  </div>

  <div class="header-logo">
    <img
      src="{{ url_for('static', filename='images/logos/logo-02.png') }}"
      alt="Pier MTTP Logo"
      class="logo"
    />
  </div>

  <div class="header-right-dashboard">
    <div class="date-time" id="current-date-time">Loading...</div>
    <div class="report-line">
      <div class="line"></div>
    </div>
    <div class="report-date" id="report-date">
      <span style="color: #6384d1">{{ _('Report Date') }}:</span> Loading...
    </div>
  </div>
</header>

<!-- Ana Tablo -->
<section class="dashboard">
  <div class="energy-table">
    <div class="energy-header">
      <div>{{ _('Energy Drawn From The Grid') }}</div>
      <div style="margin-right: 79px">{{ _('Generated Energy') }}</div>
      <div>{{ _('Consumed Energy') }}</div>
    </div>
    <div class="energy-row">
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/08.svg') }}"
          alt="Energy"
        />
        80.158,68 kWh
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/08.svg') }}"
          alt="Energy"
        />
        80.158,68 kWh
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/08.svg') }}"
          alt="Energy"
        />
        80.158,68 kWh
      </div>
    </div>

    <div class="energy-row">
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/09.svg') }}"
          alt="Industry"
        />
        80.158,68 TEP
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/09.svg') }}"
          alt="Industry"
        />
        80.158,68 TEP
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/09.svg') }}"
          alt="Industry"
        />
        80.158,68 TEP
      </div>
    </div>

    <div class="energy-row">
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/10.svg') }}"
          alt="Cloud"
        />
        80.158,68 Ton
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/10.svg') }}"
          alt="Cloud"
        />
        80.158,68 Ton
      </div>
      <div>
        <img
          src="{{ url_for('static', filename='images/svg/10.svg') }}"
          alt="Cloud"
        />
        80.158,68 Ton
      </div>
    </div>
  </div>

  <div class="device-status">
    <div class="dashboard-container">
      <!-- Voltaj ve Akım Kutuları -->
      <div class="voltage-section">
        <div class="voltage-table">
          <div class="voltage-box">
            <span class="icon">
              <img
                src="{{ url_for('static', filename='images/svg/33.svg') }}"
                alt="Voltage"
              />
            </span>
            <span class="value">220 V</span>
            <span class="phase">V1-N</span>
          </div>
          <div class="voltage-box">
            <span class="icon">
              <img
                src="{{ url_for('static', filename='images/svg/33.svg') }}"
                alt="Voltage"
              />
            </span>
            <span class="value">220 V</span>
            <span class="phase">V2-N</span>
          </div>
          <div class="voltage-box">
            <span class="icon">
              <img
                src="{{ url_for('static', filename='images/svg/33.svg') }}"
                alt="Voltage"
              />
            </span>
            <span class="value">220 V</span>
            <span class="phase">V3-N</span>
          </div>
        </div>

        <div class="voltage-table">
          <div class="voltage-box">
            <span class="icon">
              <img
                src="{{ url_for('static', filename='images/svg/34.svg') }}"
                alt="Current"
              />
            </span>
            <span class="value">300 A</span>
            <span class="phase">I1-N</span>
          </div>
          <div class="voltage-box">
            <span class="icon">
              <img
                src="{{ url_for('static', filename='images/svg/34.svg') }}"
                alt="Current"
              />
            </span>
            <span class="value">250 A</span>
            <span class="phase">I2-N</span>
          </div>
          <div class="voltage-box">
            <span class="icon">
              <img
                src="{{ url_for('static', filename='images/svg/34.svg') }}"
                alt="Current"
              />
            </span>
            <span class="value">220 A</span>
            <span class="phase">I3-N</span>
          </div>
        </div>
      </div>

      <!-- ECHARTS -->
        <div id="frequencyGauge" style="width: 130px; height: 130px;"></div>

        <div id="reactiveStatus" style="width: 130px; height: 120px;"></div>

        <div id="powerFactorGauge" style="width: 130px; height: 130px"></div>

      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function updateDateTime() {
      const userLang = document.body.dataset.lang || "en"; // HTML'den alınan aktif dil

      const now = new Date();
      const monthShort = now
        .toLocaleString(userLang, { month: "long" })
        .substring(0, 5);
      const formattedDateTime = `${monthShort} ${now.getDate()}, ${now.getFullYear()}, ${now.getHours()}:${now
        .getMinutes()
        .toString()
        .padStart(2, "0")}`;
      document.getElementById("current-date-time").innerText =
        formattedDateTime;

      const lastMonth = new Date();
      lastMonth.setDate(lastMonth.getDate() - 30);

      const reportStartMonth = lastMonth
        .toLocaleString(userLang, { month: "long" })
        .substring(0, 5);
      const reportEndMonth = now
        .toLocaleString(userLang, { month: "long" })
        .substring(0, 5);

      const reportStart = `${reportStartMonth} ${lastMonth.getDate()}`;
      const reportEnd = `${reportEndMonth} ${now.getDate()}`;

      const reportDateEl = document.getElementById("report-date");
      reportDateEl.innerHTML = `<span style="color: #6384D1;">{{ _('Report Date') }}:</span> <span style="color: #fff;">${reportStart} - ${reportEnd}</span>`;
    }

    updateDateTime();
    setInterval(updateDateTime, 60000);
  });

  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("logout-button")
      .addEventListener("click", function (event) {
        event.preventDefault();

        // Trigger SweetAlert confirmation with custom styling
        Swal.fire({
          title: "Çıkış yapmak istediğinize emin misiniz?",
          icon: "warning",
          background: "#0B1734",
          iconColor: "#EF8018",
          showCancelButton: true,
          confirmButtonText: "Evet", // Sağda
          cancelButtonText: "Hayır", // Solda
          reverseButtons: false, // Bu zaten varsayılan
          customClass: {
            confirmButton: "swal-button-yes", // Sağdaki buton
            cancelButton: "swal-button-no", // Soldaki buton
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.isConfirmed) {
            document.getElementById("logout-form").submit();
          }
        });
      });
  });

    // Echarts 1 Frekans (Hz)
    var chart = echarts.init(document.getElementById("frequencyGauge"));

    var option = {
      graphic: [
        {
          type: "circle",
          left: "center",
          top: "center",
          shape: {
            r: 60,
          },
          style: {
            fill: "#0B1734",
            stroke: "#0D1A36",
            lineWidth: 4,
          },
          z: 0,
        }
      ],
      series: [
        {
          type: "gauge",
          startAngle: 180,
          endAngle: 0,
          radius: "88%",
          center: ["50%", "52%"],

          progress: {
            show: true,
            width: 12,
            itemStyle: {
              color: "#4caf50",
            },
            animation: false,
          },

          axisLine: {
            lineStyle: {
              width: 12,
              color: [
                [0.5, "#4caf50"],
                [1, "#f57c00"],
              ],
            },
          },

          pointer: {
            show: false,
          },

          axisTick: {
            show: false,
          },

          splitLine: {
            show: false,
          },

          axisLabel: {
            show: false,
          },

          title: {
            show: false,
          },

          detail: {
            valueAnimation: true,
            formatter: function (value) {
              return `{line1|${value.toFixed(2)}}\n{line2|{{ _('Frequency') }}}\n{line3|(Hz)}`;
            },
            rich: {
              line1: {
                fontSize: 16,
                fontWeight: "bold",
                color: "#ffffff",
                lineHeight: 22,
              },
              line2: {
                fontSize: 16,
                color: "#ffffff",
                lineHeight: 22,
              },
              line3: {
                fontSize: 16,
                color: "#ffffff",
                lineHeight: 22,
              },
            },
            offsetCenter: [0, "20%"],
          },

          data: [
            {
              value: 50.04,
            },
          ],
        },
      ],
    };

    chart.setOption(option);

      // Echarts 2 
    var chart = echarts.init(document.getElementById("reactiveStatus"));

    var option = {
      graphic: [
        // Dış çerçeve
        {
          type: "circle",
          left: "center",
          top: "center",
          shape: {
            r: 58,
          },
          style: {
            fill: "transparent",
            stroke: "#00a000",
            lineWidth: 4,
          },
          z: 1,
        },
        // İç yeşil dolgu
        {
          type: "circle",
          left: "center",
          top: "center",
          shape: {
            r: 52,
          },
          style: {
            fill: "green",
            stroke: "none",
          },
          z: 2,
        },
        // Tüm metin: Reactive\nPenalty\nDoes not Exist
        {
          type: "text",
          left: "center",
          top: "center",
          style: {
            text: `{line1|{{ _('Reactive') }}}\n{line2|{{ _('Penalty') }}}\n{line3|{{ _('Not Exist') }}}`,
            fill: "#fff",
            textAlign: "center",
            textVerticalAlign: "middle",
            rich: {
              line1: {
                fontSize: 16,
                fontWeight: "bold",
                lineHeight: 22,
              },
              line2: {
                fontSize: 16,
                fontWeight: "bold",
                lineHeight: 22,
              },
              line3: {
                fontSize: 14,
                lineHeight: 22,
              },
            },
          },
          z: 3,
        },
      ],
    };
    chart.setOption(option);

    // Echarts 3 Güç Faktörü
    var chart = echarts.init(document.getElementById("powerFactorGauge"));
    var option = {
      graphic: [
        {
          type: "circle",
          left: "center",
          top: "center",
          shape: {
            r: 60,
          },
          style: {
            fill: "#0B1734",
          },
          z: 0,
        }
      ],
      series: [
        {
          type: "gauge",
          radius: "82%",
          center: ["50%", "50%"],
          startAngle: 225,
          endAngle: -45,

          progress: {
            show: true,
            width: 12,
            itemStyle: {
              color: "#f57c00",
            },
          },

          axisLine: {
            lineStyle: {
              width: 12,
              color: [[1, "#2b2f4b"]],
            },
          },

          pointer: {
            show: false,
          },

          axisTick: {
            show: false,
          },

          splitLine: {
            show: false,
          },

          axisLabel: {
            show: false,
          },

          title: {
            show: false,
          },

          detail: {
            valueAnimation: true,
            formatter: function (value) {
              return `{line1|{{ _('Power') }}}\n{line2|{{ _('Factor') }}}\n{line3|${value.toFixed(2)}%}`;
            },
            rich: {
              line1: {
                fontSize: 16,
                fontWeight: "bold",
                color: "#fff",
                lineHeight: 22,
              },
              line2: {
                fontSize: 16,
                color: "#fff",
                lineHeight: 22,
              },
              line3: {
                fontSize: 16,
                fontWeight: "bold",
                color: "#fff",
                lineHeight: 22,
              },
            },
            offsetCenter: [0, "10%"],
          },

          data: [
            {
              value: 87.45,
            },
          ],
        },
      ],
    };
    chart.setOption(option);

</script>

<style>
  .swal-button-yes {
    background-color: #fff;
    color: #0b1734;
    border-radius: 5px;
    padding: 17px 19px;
    font-size: 16px;
    border: none;
  }

  .swal-button-no {
    background-color: #fff;
    color: #0b1734;
    border-radius: 5px;
    padding: 17px 19px;
    font-size: 16px;
    border: 2px solid #0b1734;
  }

  .swal2-popup {
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  }

  /* Ensuring buttons are properly spaced and displayed */
  .swal2-actions {
    display: flex;
    justify-content: space-between; /* Space the buttons properly */
    width: 100%; /* Ensure full width for button spacing */
  }

  .swal2-confirm {
    width: 48%;
    margin-right: 4%;
  }

  .swal2-cancel {
    width: 48%;
  }

  div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 100%;
    padding: 1em 1em 1em;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }

  .swal2-actions {
    display: flex;
    justify-content: space-between;
    width: 94%;
  }

  body.swal2-shown {
    padding-right: 0 !important;
    overflow: hidden !important;
  }
  .header,
  .fixed-element {
    transform: none !important;
    will-change: auto !important;
  }

  div:where(.swal2-container).swal2-backdrop-show,
  div:where(.swal2-container).swal2-noanimation {
    background: rgba(0, 0, 0, 0.4);
  }

  div:where(.swal2-container).swal2-center > .swal2-popup {
    grid-column: 2;
    grid-row: 2;
    place-self: center center;
    margin-top: 64px;
  }
</style>
{% endblock content %}
