{% extends "layout.html" %} 

{% block title %} ORC 24 {% endblock title %} 

{% block content %}
<div class="container">
  <div class="content">
      <div class="login-header">
          <div class="line line-left"></div>
          <img src="{{ url_for('static', filename='images/logos/logo-01.webp') }}" alt="Pier MTTP Logo" class="logo">
          <div class="line line-right"></div>
      </div>

      <div class="footer">
        <span class="version">
            <img src="{{ url_for('static', filename='images/svg/01.svg') }}" alt="ORC Icon" class="footer-icon">
            ORC 24 <span class="small">v1.0</span>
        </span>
      </div>
    
  </div>
</div>


{% endblock content %}
