<!DOCTYPE html>
<html lang="{{ get_locale() }}">
  <head>
  
    <!-- jQuery Kütüphanesini -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %}    {% endblock %}  </title>

    <!-- Genel Stil Dosyası (Tüm Sayfalarda Kullanılacak) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}" />
    
    <!-- CSS daterangepicker -->  
    <link rel="stylesheet" href="{{ url_for('static', filename='daterangepicker/css/daterangepicker.css') }}"/> 

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='select2-develop/css/select2.min.css') }}" />

    <!-- Toastr -->
    <link rel="stylesheet" href="{{ url_for('static', filename='toastr/css/toastr.min.css') }}" />

    <!-- Toastr -->
    <script src="{{ url_for('static', filename='toastr/js/toastr.min.js') }}"></script>

    <!-- Daterangepicker JS -->
    <script src="{{ url_for('static', filename='daterangepicker/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='daterangepicker/js/daterangepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='daterangepicker/js/moment-locale.tr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='daterangepicker/js/moment-locale.de.min.js') }}"></script>
  </head>
  <body data-lang="{{ get_locale() }}" class="{% if request.endpoint == 'dashboard' %}dashboard-body{% endif %}  {% if get_locale() == 'de' %} lang-de{% endif %}">

    {% block content %}
    {% endblock %}
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Sweet Alert -->
    <script src="{{ url_for('static', filename='sweetalert/sweetalert.js') }}"></script>
    <!-- URL'yi HTML içine ekleyelim -->
    <script>
      var loginURL = "{{ url_for('login') }}"
    </script>

    <!-- Echarts -->
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>

    <!-- My Js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='simple-keyboard-master/build/index.js') }}"></script>
    
    <!-- Select2 -->
    <script src="{{ url_for('static', filename='select2-develop/js/select2.min.js') }}"></script>

    <!-- Toastr -->
    <script src="{{ url_for('static', filename='toastr/js/toastr.min.js') }}"></script>

    <!-- Diğer JS dosyalarının altına ekle -->
    <script src="{{ url_for('static', filename='js/notification.js') }}"></scrip

    {% block scripts %}{% endblock %}

  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const modemName = sessionStorage.getItem("selected_device_name");
    const headerSpan = document.getElementById("modemNameInHeader");

    if (headerSpan && modemName) {
      headerSpan.textContent = modemName;
    }
  });
</script>
