{% extends "layout.html" %}

{% block title %} ORC 24 - Login - Pier MTTP {% endblock title %}

{% block content %}
<div class="container">
    <div class="header">
        <div class="line line-left"></div>
        <img src="{{ url_for('static', filename='images/logos/logo-01.webp') }}" alt="Pier MTTP Logo" class="logo">
        <div class="line line-right"></div>
    </div>

    <!-- Login Form Wrapper -->
    <div class="login-wrapper">
        <div class="login-box">
            <div class="input-group">
                <span class="icon icon-left"> <i class="fa-solid fa-user"></i></span>
                <input type="text" placeholder="Username">
            </div>

            <div class="input-group">
                <span class="icon icon-left"> <i class="fa-solid fa-lock"> </i></span>
                <input type="password" id="password-input" placeholder="Password">
                <span class="icon-eye icon-right" id="toggle-password"> <i class="fa-solid fa-eye"></i>
                </span>
            </div>
            

            <!-- Buton ve Dil Seçici Yan Yana -->
            <div class="login-actions">
                <button class="login-btn">
                    LOGIN <i class="fa-solid fa-sign-in-alt login-icon"></i>
                </button>
            
                <div class="language-switcher">
                    <button class="language-toggle">
                        <i class="fa-solid fa-globe"></i> <span id="selected-lang">TR</span>
                    </button>
                    <div class="language-dropdown">
                        <button data-lang="tr"><span>🇹🇷</span> TR</button>
                        <button data-lang="en"><span>🇬🇧</span> EN</button>
                        <button data-lang="de"><span>🇩🇪</span> DE</button>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock content %}
