{% extends 'layout.html' %} 

{% block title %} ORC 24 - Login - Pier MTTP {% endblock %} 

{% block content %}
<!-- Virtual Keyboard -->
<div id="keyboard-container" class="simple-keyboard"></div>

<div class="container">
  <div class="login-header">
    <div class="line line-left"></div>
    <img
      src="{{ url_for('static', filename='images/logos/logo-01.webp') }}"
      alt="Pier MTTP Logo"
      class="logo"
    />
    <div class="line line-right"></div>
  </div>

  <!-- Login Form Wrapper -->
  <div class="login-wrapper">
    <div class="login-box" style="color: red;">
      
      <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="input-group">
          <span class="icon icon-left"
            ><img
              src="{{ url_for('static', filename='images/svg/22.svg') }}"
              alt="User"
              width="20"
              height="20"
            />
          </span>
          <input
            type="text"
            name="email"
            placeholder="{{ _('Email') }}"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="none"
            spellcheck="false"
            required
          />
        </div>

        <div class="input-group">
          <span class="icon icon-left"
            ><img
              src="{{ url_for('static', filename='images/svg/21.svg') }}"
              alt="Lock"
              width="20"
              height="20"
          /></span>
          <input
            type="password"
            name="password"
            id="password-input"
            placeholder="{{ _('Password') }}"
            autocomplete="new-password"
            autocorrect="off"
            autocapitalize="none"
            spellcheck="false"
            required
          />
          <span class="icon icon-right" id="toggle-password">
            <span class="eye-divider"></span>
            <i class="fa-solid fa-eye"></i
          ></span>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} {% for category, message in messages %}
          <!-- !! Hata Mesaj  uyarısı -->
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="login-actions">
          <button type="submit" class="login-btn">
            {{ _('Login') }}
            <img
              src="{{ url_for('static', filename='images/svg/36.svg') }}"
              alt="Login"
              width="30"
              height="30"
              style="padding: 7px 9px; background: #0b1734; border-radius: 5px"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
